examples/00 quickstart.json
[{"id":"e0d75c39.aba64","type":"comment","z":"25081f9e.f5f34","name":"Example 01: Play a (Music-Library, Amazon) playlist using My-Sonos ","info":"","x":245,"y":397,"wires":[]},{"id":"8c3aa7e.24fa958","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":100,"y":474,"wires":[["6df55e35.988ef"]]},{"id":"b572596c.3d7ac8","type":"inject","z":"25081f9e.f5f34","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime","payloadType":"str","x":110,"y":509,"wires":[["6df55e35.988ef"]]},{"id":"c2047efe.bbf54","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":522,"y":474,"wires":[]},{"id":"6df55e35.988ef","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.mysonos","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":332,"y":474,"wires":[["c2047efe.bbf54"]]},{"id":"dd3ffb6.ac1d808","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":200,"wires":[["71d34ef1.1c242"]]},{"id":"71d34ef1.1c242","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"s24896","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":262,"y":200,"wires":[[]]},{"id":"a2c2b3bd.e1b71","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":313,"wires":[["9c0a7e9e.9bca6"]]},{"id":"9c0a7e9e.9bca6","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.queue","state":"s24896","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":264,"y":313,"wires":[[]]},{"id":"2fb9a1fd.68737e","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":526,"y":312,"wires":[["37f90c94.f24384"]]},{"id":"37f90c94.f24384","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"household.create.group","state":"Küche,Wohnzimmer","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":720,"y":312,"wires":[[]]},{"id":"2f8328c7.2bc198","type":"comment","z":"25081f9e.f5f34","name":"QUICKSTART","info":"","x":75,"y":23,"wires":[]},{"id":"124ff2fb.b4d12d","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.\n\nPayload: The SONOS-Playernames being grouped. The first one will become coordinator. No blanks allowed.","x":779,"y":337,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"686fbbe.e808c44","type":"comment","z":"25081f9e.f5f34","name":"Play station SWR3 from TuneIn - read me","info":"# Play station SWR3 from TuneIn\n\n## Use case\nPlay a TuneIn radio station. \n\n## Customizing\n - edit `group.play.tunein`and select your configuration node.","x":200,"y":168,"wires":[],"icon":"node-red/subflow.svg"},{"id":"a4203acd.9aa738","type":"comment","z":"25081f9e.f5f34","name":"Play the SONOS queue - must not be empty - read me","info":"# Play the SONOS queue\n\n## Customizing\n - edit `group.play.queue `and select your configuration node.\n\nEnsure that the queue is filled with songs. You can to that either with this package or with the SONOS app.","x":241,"y":281,"wires":[],"icon":"node-red/subflow.svg"},{"id":"d013ff60.44585","type":"comment","z":"25081f9e.f5f34","name":"Create a group with player Kitchen, Living Room - read me","info":"# Create a group\nFirst player is coordinator.\n\n## Customizing\n- edit payload and enter the name of your players (not the config node names), seperated by commad but without any blanks\n\n - edit `household.create.group`and select your configuration node.\n","x":686,"y":280,"wires":[],"icon":"node-red/subflow.svg"},{"id":"9332b5ce.6f61d8","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":91,"y":89,"wires":[["ecf7c75f.c060b8"]]},{"id":"ecf7c75f.c060b8","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"household.get.groups","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":274,"y":89,"wires":[["ddbaa9b2.3788b8"]]},{"id":"ad3e01a6.495bd","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":303,"y":116,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"a98e0bd0.e64db8","type":"comment","z":"25081f9e.f5f34","name":"Test - all players detected","info":"# Test - all players detected\n\n## Use case\ncheck your installation and verify that all players are online.\n\n## Customizing\n - edit `household.get.groups`and select your configuration node.","x":151,"y":57,"wires":[],"icon":"node-red/subflow.svg"},{"id":"ddbaa9b2.3788b8","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":462,"y":89,"wires":[]},{"id":"bd45739.842a39","type":"comment","z":"25081f9e.f5f34","name":"Test - what is playing - read me","info":"# Test - what is currently playing\n\n## Use case\nGet information what is currently playing\n\n## Customizing\n - edit `household.get.trackplus`and select your configuration node.","x":590,"y":172,"wires":[],"icon":"node-red/subflow.svg"},{"id":"ee9dd47a.6d2d08","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":510,"y":204,"wires":[["3cf7e92f.54c756"]]},{"id":"3cf7e92f.54c756","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.get.trackplus","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":682,"y":204,"wires":[["c708c82a.fe2fb8"]]},{"id":"c708c82a.fe2fb8","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":867,"y":204,"wires":[]},{"id":"c5f72fd3.2bb79","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bayern 3","payloadType":"str","x":100,"y":440,"wires":[["6df55e35.988ef"]]},{"id":"f1a0d984884c6620","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":382,"y":502,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"61402b93dc8fba75","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":301,"y":229,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"0e9129524b1462fa","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":305,"y":342,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"b008f91aacceb441","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":725,"y":233,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"ed6f33c4faa83c1a","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Use your My Sonos titles.","x":110,"y":540,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"acd8d32553286a50","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1009,"y":314,"wires":[["dbc0d72e5cfef842"]]},{"id":"dbc0d72e5cfef842","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.library.artist","state":"Beatles","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1191,"y":314,"wires":[[]]},{"id":"a0e0e8a9db62ac2b","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":1260,"y":338,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"7bc75035f27ceafb","type":"comment","z":"25081f9e.f5f34","name":"Play Beatles from your Music library- read me","info":"\n","x":1129,"y":281,"wires":[],"icon":"node-red/subflow.svg"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"yourPlayer","serialnum":"","ipaddress":"192.168.178.37"}]