examples/00 quickstart.json
[{"id":"dd3ffb6.ac1d808","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["71d34ef1.1c242"]]},{"id":"71d34ef1.1c242","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"s24896","stateType":"str","name":"","x":271,"y":200,"wires":[[]]},{"id":"a2c2b3bd.e1b71","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":313,"wires":[["9c0a7e9e.9bca6"]]},{"id":"9c0a7e9e.9bca6","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.queue","state":"s24896","stateType":"str","name":"","x":271,"y":313,"wires":[[]]},{"id":"2fb9a1fd.68737e","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":536,"y":312,"wires":[["37f90c94.f24384"]]},{"id":"37f90c94.f24384","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"household.create.group","state":"Küche,Wohnzimmer","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":727,"y":312,"wires":[[]]},{"id":"2f8328c7.2bc198","type":"comment","z":"25081f9e.f5f34","name":"QUICKSTART","info":"","x":75,"y":23,"wires":[]},{"id":"23056877.db7ab8","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node.","x":310,"y":227,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"ca3e2298.88bf1","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node.","x":311,"y":338,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"124ff2fb.b4d12d","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node.\n\nPayload: The SONOS-Playernames being grouped. The first one will become coordinator. No blanks allowed.","x":786,"y":337,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"686fbbe.e808c44","type":"comment","z":"25081f9e.f5f34","name":"Play station SWR3 from TuneIn - read me","info":"# Play station SWR3 from TuneIn\n\n## Use case\nPlay a TuneIn radio station. \n\n## Customizing\n - edit `group.play.tunein`and select your configuration node.","x":200,"y":168,"wires":[],"icon":"node-red/subflow.svg"},{"id":"a4203acd.9aa738","type":"comment","z":"25081f9e.f5f34","name":"Play the SONOS queue - must not be empty - read me","info":"# Play the SONOS queue\n\n## Customizing\n - edit `group.play.queue `and select your configuration node.\n\nEnsure that the queue is filled with songs. You can to that either with this package or with the SONOS app.","x":241,"y":281,"wires":[],"icon":"node-red/subflow.svg"},{"id":"d013ff60.44585","type":"comment","z":"25081f9e.f5f34","name":"Create a group with player Kitchen, Living Room - read me","info":"# Create a group\nFirst player is coordinator.\n\n## Customizing\n- edit payload and enter the name of your players (not the config node names), seperated by commad but wihtout any blanks\n\n - edit `household.create.group`and select your configuration node.\n","x":686,"y":280,"wires":[],"icon":"node-red/subflow.svg"},{"id":"9332b5ce.6f61d8","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":101,"y":89,"wires":[["ecf7c75f.c060b8"]]},{"id":"ecf7c75f.c060b8","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"household.get.groups","state":"","stateType":"str","name":"","x":282,"y":89,"wires":[["ddbaa9b2.3788b8"]]},{"id":"ad3e01a6.495bd","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node.","x":311,"y":116,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"a98e0bd0.e64db8","type":"comment","z":"25081f9e.f5f34","name":"Test - all players detected","info":"# Test - all players detected\n\n## Use case\ncheck your installation and verify that all players are online.\n\n## Customizing\n - edit `household.get.groups`and select your configuration node.","x":151,"y":57,"wires":[],"icon":"node-red/subflow.svg"},{"id":"ddbaa9b2.3788b8","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":89,"wires":[]},{"id":"bd45739.842a39","type":"comment","z":"25081f9e.f5f34","name":"Test - what is playing - read me","info":"# Test - what is currently playing\n\n## Use case\nGet information what is currently playing\n\n## Customizing\n - edit `household.get.trackplus`and select your configuration node.","x":606,"y":168,"wires":[],"icon":"node-red/subflow.svg"},{"id":"ee9dd47a.6d2d08","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":536,"y":200,"wires":[["3cf7e92f.54c756"]]},{"id":"3cf7e92f.54c756","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.get.trackplus","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":707,"y":200,"wires":[["c708c82a.fe2fb8"]]},{"id":"c708c82a.fe2fb8","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":892,"y":200,"wires":[]},{"id":"7285407a.1166f","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node.","x":746,"y":228,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"kitchen","serialnum":"","ipaddress":"192.168.178.37"}]