examples/01 playlist mysonos.json
[{"id":"e0d75c39.aba64","type":"comment","z":"25081f9e.f5f34","name":"Example 01: Play a (Music-Library, Amazon) playlist using My-Sonos ","info":"","x":280,"y":457,"wires":[]},{"id":"8c3aa7e.24fa958","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":101,"y":521,"wires":[["6df55e35.988ef"]]},{"id":"b572596c.3d7ac8","type":"inject","z":"25081f9e.f5f34","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime","payloadType":"str","x":111,"y":553,"wires":[["6df55e35.988ef"]]},{"id":"c2047efe.bbf54","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":501,"y":521,"wires":[]},{"id":"6df55e35.988ef","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.mysonos","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":318,"y":521,"wires":[["c2047efe.bbf54"]]},{"id":"c5f72fd3.2bb79","type":"inject","z":"25081f9e.f5f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bayern 3","payloadType":"str","x":101,"y":489,"wires":[["6df55e35.988ef"]]},{"id":"f1a0d984884c6620","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Select your config-node or modify it and use your ip address.","x":368,"y":550,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"ed6f33c4faa83c1a","type":"comment","z":"25081f9e.f5f34","name":"↑modify","info":"Use your My Sonos titles.","x":110,"y":584,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"your_player_dns","serialnum":"","ipaddress":"sonosplay5.fritz.box"}]