examples/01 playlist mysonos.json
[
  {
    "id": "e0d75c39.aba64",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "Example 01: Play using My-Sonos - read me",
    "info": "This is the recommended way for often uses music.\n\nPrerequisite: You have to manually add the items to My Sonos.",
    "x": 210,
    "y": 457,
    "wires": []
  },
  {
    "id": "8c3aa7e.24fa958",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "Music library imported playlist",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "LibPl_10CC",
    "payloadType": "str",
    "x": 160,
    "y": 618,
    "wires": [
      [
        "6df55e35.988ef"
      ]
    ]
  },
  {
    "id": "b572596c.3d7ac8",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "YouTube playlist",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Feel-Good R&B",
    "payloadType": "str",
    "x": 120,
    "y": 520.6666666666667,
    "wires": [
      [
        "6df55e35.988ef"
      ]
    ]
  },
  {
    "id": "6df55e35.988ef",
    "type": "sonos-universal",
    "z": "25081f9e.f5f34",
    "confignode": "88e9fa70.4a53e8",
    "command": "group.play.mysonos",
    "state": "",
    "stateType": "str",
    "avoidCheckPlayerAvailability": false,
    "name": "",
    "x": 413,
    "y": 521,
    "wires": [
      []
    ]
  },
  {
    "id": "c5f72fd3.2bb79",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "SONOS Radio station",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Bayern 3",
    "payloadType": "str",
    "x": 140,
    "y": 489,
    "wires": [
      [
        "6df55e35.988ef"
      ]
    ]
  },
  {
    "id": "f1a0d984884c6620",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "↑modify",
    "info": "Select your config-node or modify it and use your ip address.",
    "x": 460,
    "y": 550,
    "wires": [],
    "icon": "font-awesome/fa-edit"
  },
  {
    "id": "ed6f33c4faa83c1a",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "↑modify",
    "info": "Use your My Sonos titles.",
    "x": 109,
    "y": 648,
    "wires": [],
    "icon": "font-awesome/fa-edit"
  },
  {
    "id": "ec352beec0c3fede",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "Music library album",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Muttersprache",
    "payloadType": "str",
    "x": 130,
    "y": 585.3333333333334,
    "wires": [
      [
        "6df55e35.988ef"
      ]
    ]
  },
  {
    "id": "8626eaee2f1dd735",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "YouTube track",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Voilà",
    "payloadType": "str",
    "x": 110,
    "y": 553,
    "wires": [
      [
        "6df55e35.988ef"
      ]
    ]
  },
  {
    "id": "88e9fa70.4a53e8",
    "type": "sonos-config",
    "name": "your_player_dns",
    "serialnum": "",
    "ipaddress": "sonoskitchen.fritz.box"
  }
]