examples/02 Home Assistant.json
[{"id":"eb4bd71e.20eaa8","type":"sonos-universal","z":"4b75157e.b475ec","confignode":"d0057e63.a9c5","command":"message","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":615,"y":217,"wires":[[]]},{"id":"4b9816d0.edb1e8","type":"ha-entity","z":"4b75157e.b475ec","name":"Sonos Plus Universal Node","server":"32e490af.a728b","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Sonos Plus Universal Node"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":160,"y":217,"wires":[["c4108064.32c79"],[]]},{"id":"c4108064.32c79","type":"function","z":"4b75157e.b475ec","name":"msg.payload to msg","func":"Object.assign(msg, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":416,"y":217,"wires":[["eb4bd71e.20eaa8"]]},{"id":"4536faf7.61b7a4","type":"comment","z":"4b75157e.b475ec","name":"Example Home Assistant - read me","info":"# Integration Home Assistant - node-red-contrib-sonos-plus\n\n## Prerequisites\n- installation Node-RED add on in Home Assistant\n- installation Node-RED integration in Home Assistant\n- installation node-red-contrib-home-assistant-websocket (automatically)\n- installation of node-red-contrib-sonos-plus\n\n## Method\nWe use an entity node, type switch as interface - see the exported flow.\n\nThe Home Assistant entity is \"switch.sonos_plus_universal_node\" and the name \nSonos Plus Universal Node. \n\nAs Home Assistant only allows one attribute (payload) to be transfered to Node-RED we have to put all required data in an object.  \n\nExample 1 \n\npayload: \n  topic: group.play\n\nExample 2\n\npayload: \n  topic: group.play.mysonos\n  payload: Arabella\n\n\n## customization\n- change ip in config node of universal node\n- write your script/automation - see below\n\n\n## example button tap action\n```\ntap_action:\n  action: call-service\n  service: nodered.trigger\n  service_data:\n    entity_id: switch.sonos_plus_universal_node\n    payload:\n      payload: Radio Arabella\n      topic: group.play.mysonos\n```\n\n## example script\n```\nalias: Example SONOS Plus Interface\nsequence:\n  - service: nodered.trigger\n    data:\n      entity_id: switch.sonos_plus_universal_node\n      payload:\n        topic: group.stop\nmode: single\n```\n\n\n","x":180,"y":181,"wires":[]},{"id":"23056877.db7ab8","type":"comment","z":"4b75157e.b475ec","name":"↓modify","info":"Select your config-node or change the IP address in this config node.","x":610,"y":185,"wires":[],"icon":"font-awesome/fa-arrow-down"},{"id":"d0057e63.a9c5","type":"sonos-config","name":"player","serialnum":"","ipaddress":"192.168.178.37"},{"id":"32e490af.a728b","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]