examples/03 replace sonos queue.json
[
  {
    "id": "c249bd9e.21742",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "Example 03: Replace SONOS-Queue without playing",
    "info": "",
    "x": 241,
    "y": 789,
    "wires": []
  },
  {
    "id": "a3d58123.59236",
    "type": "sonos-universal",
    "z": "25081f9e.f5f34",
    "confignode": "88e9fa70.4a53e8",
    "command": "group.clear.queue",
    "state": "",
    "stateType": "str",
    "avoidCheckPlayerAvailability": false,
    "name": "",
    "x": 261.33333333333337,
    "y": 822,
    "wires": [
      [
        "a85e280f.b66018"
      ]
    ]
  },
  {
    "id": "446e86a7.1f0e68",
    "type": "debug",
    "z": "25081f9e.f5f34",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 662,
    "y": 822,
    "wires": []
  },
  {
    "id": "5f89d0e1.e0f5a",
    "type": "inject",
    "z": "25081f9e.f5f34",
    "name": "trigger",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 91,
    "y": 822,
    "wires": [
      [
        "a3d58123.59236"
      ]
    ]
  },
  {
    "id": "a85e280f.b66018",
    "type": "sonos-manage-mysonos",
    "z": "25081f9e.f5f34",
    "confignode": "88e9fa70.4a53e8",
    "command": "mysonos.queue.item",
    "state": "LibPl_10CC",
    "stateType": "str",
    "avoidCheckPlayerAvailability": false,
    "name": "",
    "x": 481.6666666666667,
    "y": 822,
    "wires": [
      [
        "446e86a7.1f0e68"
      ]
    ]
  },
  {
    "id": "25dc92f71c85709a",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "↑modify",
    "info": "Select your config-node or modify it and use your ip address.",
    "x": 310,
    "y": 853,
    "wires": [],
    "icon": "font-awesome/fa-edit"
  },
  {
    "id": "01e54af4d93f0265",
    "type": "comment",
    "z": "25081f9e.f5f34",
    "name": "↑modify",
    "info": "Enter a valid payload, means a My Sonos playlist, album,...",
    "x": 538,
    "y": 853,
    "wires": [],
    "icon": "font-awesome/fa-edit"
  },
  {
    "id": "88e9fa70.4a53e8",
    "type": "sonos-config",
    "name": "your_player_dns",
    "serialnum": "",
    "ipaddress": "sonoskitchen.fritz.box"
  }
]