examples/05 playlist musiclibrary.json
[{"id":"da2d9474.71d978","type":"comment","z":"25081f9e.f5f34","name":"Example 05: Play Playlist from Music-Library in My Sonos","info":"","x":251,"y":1015,"wires":[]},{"id":"beaf5dab.83544","type":"inject","z":"25081f9e.f5f34","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":91,"y":1049,"wires":[["45978a20.48df94"]]},{"id":"45978a20.48df94","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.clear.queue","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":261.33333333333337,"y":1049,"wires":[["5863ebe9.89e0b4"]]},{"id":"5863ebe9.89e0b4","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.mysonos","state":"MLAdele","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":496,"y":1049,"wires":[["54c37fb8.f6b96"]]},{"id":"54c37fb8.f6b96","type":"debug","z":"25081f9e.f5f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":747,"y":992,"wires":[]},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"your_player_dns","serialnum":"","ipaddress":"sonosplay5.fritz.box"}]