examples/06 just insert.json
[{"id":"85b7f00d.8f89c","type":"inject","z":"25081f9e.f5f34","name":"mute on","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1154,"wires":[["afcd2661.3533b8","d85e139d.6ee3c"]]},{"id":"afcd2661.3533b8","type":"delay","z":"25081f9e.f5f34","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":231.33333333333337,"y":1203,"wires":[["a6a04d77.01a48","6b92a219.98c95c"]]},{"id":"6b92a219.98c95c","type":"delay","z":"25081f9e.f5f34","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":434,"y":1253,"wires":[["e3fb4a2f.088628"]]},{"id":"c7c57729.8e9638","type":"comment","z":"25081f9e.f5f34","name":"Example 06: Set a morning station but dont play right now","info":"","x":251,"y":1119,"wires":[]},{"id":"a6a04d77.01a48","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"s24896","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":433,"y":1203,"wires":[["1c33a5c6.c4c47a"]]},{"id":"1c33a5c6.c4c47a","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.stop","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":617,"y":1203,"wires":[[]]},{"id":"d85e139d.6ee3c","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.set.mutestate","state":"on","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":294.33333333333337,"y":1154,"wires":[[]]},{"id":"e3fb4a2f.088628","type":"sonos-universal","z":"25081f9e.f5f34","confignode":"88e9fa70.4a53e8","command":"group.set.mutestate","state":"Off","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":622,"y":1253,"wires":[[]]},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"your_player_dns","serialnum":"","ipaddress":"sonoskitchen.fritz.box"}]