examples/complex.json
[
    {
        "id": "5f89d0e1.e0f5a",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 399,
        "wires": [
            [
                "a3d58123.59236"
            ]
        ]
    },
    {
        "id": "446e86a7.1f0e68",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 674,
        "y": 399,
        "wires": []
    },
    {
        "id": "c249bd9e.21742",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 3: Replace SONOS-Queue without playing",
        "info": "",
        "x": 195,
        "y": 366,
        "wires": []
    },
    {
        "id": "6a690d.99b7b6f4",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "Arabella",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Arabella",
        "payloadType": "str",
        "x": 100,
        "y": 56,
        "wires": [
            [
                "d6823277.d1b88"
            ]
        ]
    },
    {
        "id": "def97151.686e9",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 854,
        "y": 71,
        "wires": []
    },
    {
        "id": "bed3502c.76f13",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Best Of Lovesongs",
        "payloadType": "str",
        "x": 130,
        "y": 95,
        "wires": [
            [
                "d6823277.d1b88"
            ]
        ]
    },
    {
        "id": "19467cf3.bf94e3",
        "type": "delay",
        "z": "25081f9e.f5f34",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 514,
        "y": 71,
        "wires": [
            [
                "e98515bc.1987a8"
            ]
        ]
    },
    {
        "id": "584abc00.673f14",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 1:  Play (TuneIn, Amazon) radio station using My-Sonos and retrieve title, ...",
        "info": "",
        "x": 295,
        "y": 20,
        "wires": []
    },
    {
        "id": "3ce73efc.9acb82",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 4: Line in Play:5 / TV Beam or Playbar",
        "info": "",
        "x": 185,
        "y": 465,
        "wires": []
    },
    {
        "id": "51281a6b.ba3244",
        "type": "switch",
        "z": "25081f9e.f5f34",
        "name": "",
        "property": "payload.modelName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sonos Play:5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sonos Beam",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sonos Playbar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 455,
        "y": 499,
        "wires": [
            [
                "b123fdba.28bbb"
            ],
            [
                "66623590.23783c"
            ],
            [
                "66623590.23783c"
            ]
        ]
    },
    {
        "id": "b123fdba.28bbb",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "line in",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'x-rincon-stream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400'\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 589,
        "y": 470,
        "wires": [
            [
                "c3c2037.bf1ca"
            ]
        ]
    },
    {
        "id": "da2d9474.71d978",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 5: Play Playlist from Music-Library",
        "info": "",
        "x": 165,
        "y": 572,
        "wires": []
    },
    {
        "id": "beaf5dab.83544",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 606,
        "wires": [
            [
                "45978a20.48df94"
            ]
        ]
    },
    {
        "id": "85b7f00d.8f89c",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "mute on",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 711,
        "wires": [
            [
                "afcd2661.3533b8",
                "d85e139d.6ee3c"
            ]
        ]
    },
    {
        "id": "afcd2661.3533b8",
        "type": "delay",
        "z": "25081f9e.f5f34",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 223,
        "y": 760,
        "wires": [
            [
                "a6a04d77.01a48",
                "6b92a219.98c95c"
            ]
        ]
    },
    {
        "id": "6b92a219.98c95c",
        "type": "delay",
        "z": "25081f9e.f5f34",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 434,
        "y": 810,
        "wires": [
            [
                "e3fb4a2f.088628"
            ]
        ]
    },
    {
        "id": "66623590.23783c",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "tv (line in)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'x-sonos-htastream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400:spdif'\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 599,
        "y": 530,
        "wires": [
            [
                "54c37fb8.f6b96",
                "c3c2037.bf1ca"
            ]
        ]
    },
    {
        "id": "ab9c6af.76b6698",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 7: Group players",
        "info": "",
        "x": 115,
        "y": 863,
        "wires": []
    },
    {
        "id": "ec8688f2.25e688",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 897,
        "wires": [
            [
                "1974bdba.a5de32"
            ]
        ]
    },
    {
        "id": "c7c57729.8e9638",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 6: Set a morning station but dont play right now",
        "info": "",
        "x": 215,
        "y": 676,
        "wires": []
    },
    {
        "id": "d6823277.d1b88",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.stream.item",
        "name": "",
        "x": 334,
        "y": 71,
        "wires": [
            [
                "19467cf3.bf94e3"
            ]
        ]
    },
    {
        "id": "e0d75c39.aba64",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 2: Play a (Music-Library, Amazon) playlist using My-Sonos ",
        "info": "",
        "x": 245,
        "y": 190,
        "wires": []
    },
    {
        "id": "8c3aa7e.24fa958",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ML10CC",
        "payloadType": "str",
        "x": 100,
        "y": 230,
        "wires": [
            [
                "84885c1.afc68a"
            ]
        ]
    },
    {
        "id": "84885c1.afc68a",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.export.item",
        "name": "",
        "x": 302,
        "y": 244,
        "wires": [
            [
                "6df55e35.988ef"
            ]
        ]
    },
    {
        "id": "b572596c.3d7ac8",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Best of Prime",
        "payloadType": "str",
        "x": 110,
        "y": 265,
        "wires": [
            [
                "84885c1.afc68a"
            ]
        ]
    },
    {
        "id": "c2047efe.bbf54",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 720,
        "y": 244,
        "wires": []
    },
    {
        "id": "6df55e35.988ef",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.export",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 532,
        "y": 244,
        "wires": [
            [
                "c2047efe.bbf54"
            ]
        ]
    },
    {
        "id": "a85e280f.b66018",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.queue.item",
        "state": "Best of Prime",
        "stateType": "str",
        "name": "",
        "x": 504,
        "y": 399,
        "wires": [
            [
                "446e86a7.1f0e68"
            ]
        ]
    },
    {
        "id": "1974bdba.a5de32",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.stream.item",
        "state": "SWR3",
        "stateType": "str",
        "name": "",
        "x": 285,
        "y": 897,
        "wires": [
            [
                "94d5205c.f8562"
            ]
        ]
    },
    {
        "id": "6edae5c0.71764c",
        "type": "polly",
        "z": "25081f9e.f5f34",
        "name": "",
        "voice": "0",
        "ssml": false,
        "dir": "overwritten",
        "config": "8945d5a5.31aef8",
        "x": 352,
        "y": 2415,
        "wires": [
            [
                "eb21ac8e.1acb8"
            ],
            []
        ]
    },
    {
        "id": "6117cc2e.1247f4",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "weather",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "notification_weather.mp3",
        "payload": "We expect nice weather without any rain. Enjoy the day.",
        "payloadType": "str",
        "x": 90,
        "y": 2370,
        "wires": [
            [
                "45df8523.17f7bc"
            ]
        ]
    },
    {
        "id": "cdcb0b84.3e80c8",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "prepare play notification",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext('system_baseUrl') & '/notifications/' & topic",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "70",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "sameVolume",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 652,
        "y": 2453,
        "wires": [
            [
                "eea26486.5a84b8"
            ]
        ]
    },
    {
        "id": "61e8079b.0744c8",
        "type": "fs-ops-copy",
        "z": "25081f9e.f5f34",
        "name": "",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "file",
        "sourceFilenameType": "msg",
        "destPath": "notification_cache",
        "destPathType": "global",
        "destFilename": "topic",
        "destFilenameType": "msg",
        "link": false,
        "overwrite": true,
        "x": 596,
        "y": 2411,
        "wires": [
            [
                "cdcb0b84.3e80c8"
            ]
        ]
    },
    {
        "id": "eb21ac8e.1acb8",
        "type": "switch",
        "z": "25081f9e.f5f34",
        "name": "",
        "property": "_polly.cached",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 468,
        "y": 2417,
        "wires": [
            [
                "61e8079b.0744c8"
            ],
            [
                "cdcb0b84.3e80c8"
            ]
        ]
    },
    {
        "id": "56bc69b9.945378",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "Caution",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "notification_caution.mp3",
        "payload": "Caution Caution Caution",
        "payloadType": "str",
        "x": 90,
        "y": 2402,
        "wires": [
            [
                "45df8523.17f7bc"
            ]
        ]
    },
    {
        "id": "d4d35cd2.c8bb1",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "inform",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "notification_inform.mp3",
        "payload": "Please mind your steps",
        "payloadType": "str",
        "x": 90,
        "y": 2435,
        "wires": [
            [
                "45df8523.17f7bc"
            ]
        ]
    },
    {
        "id": "2e24502.17808b",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Examples",
        "info": "",
        "x": 99,
        "y": 2331,
        "wires": []
    },
    {
        "id": "b8593edd.183ee",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Create/Update mp3 file, create uri and parameter",
        "info": "",
        "x": 481,
        "y": 2331,
        "wires": []
    },
    {
        "id": "76f7d799.22ea88",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Serialize msgs and play notification",
        "info": "",
        "x": 1030,
        "y": 2330,
        "wires": []
    },
    {
        "id": "f6cf8a70.cb3968",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "Clear storage / cache",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 747,
        "y": 2186,
        "wires": [
            [
                "2822240b.ac4f1c",
                "5b658e0c.99519"
            ]
        ]
    },
    {
        "id": "5b492bb7.8723c4",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "execute play_notification",
        "links": [
            "eea26486.5a84b8"
        ],
        "x": 904,
        "y": 2370,
        "wires": [
            [
                "f6bd0928.fc79a8"
            ]
        ]
    },
    {
        "id": "eea26486.5a84b8",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "Trigger play_notification",
        "links": [
            "5b492bb7.8723c4"
        ],
        "x": 752,
        "y": 2370,
        "wires": []
    },
    {
        "id": "268c8327.a8a12c",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "set",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 2220,
        "wires": [
            [
                "27034749.03ae18",
                "c9be9d0.3a5cc6",
                "67e03099.89377"
            ]
        ]
    },
    {
        "id": "4f2df90e.b7c768",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "TTS, notification",
        "info": "",
        "x": 85,
        "y": 2151,
        "wires": []
    },
    {
        "id": "cc3ba74b.699798",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Set Up",
        "info": "",
        "x": 91,
        "y": 2186,
        "wires": []
    },
    {
        "id": "27034749.03ae18",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "system_baseUrl",
                "pt": "global",
                "to": "http://192.168.178.13:1880",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 296,
        "y": 2187,
        "wires": [
            []
        ]
    },
    {
        "id": "c9be9d0.3a5cc6",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "notification_directory",
                "pt": "global",
                "to": "\\Users\\hekla\\AppData\\Local\\Temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 306,
        "y": 2219,
        "wires": [
            []
        ]
    },
    {
        "id": "67e03099.89377",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "notification_cache",
                "pt": "global",
                "to": "\\Users\\hekla\\AppData\\Local\\Temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 296,
        "y": 2251,
        "wires": [
            []
        ]
    },
    {
        "id": "a881a188.4c194",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "add cache",
        "rules": [
            {
                "t": "set",
                "p": "options.dir",
                "pt": "msg",
                "to": "notification_cache",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 605,
        "y": 2369,
        "wires": [
            [
                "6edae5c0.71764c"
            ]
        ]
    },
    {
        "id": "7c70a566.a6371c",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "TTS Execute",
        "links": [
            "18152db0.dc8512",
            "45df8523.17f7bc",
            "26ac2b2.49d16d4",
            "4613a740.f0ce58"
        ],
        "x": 315,
        "y": 2369,
        "wires": [
            [
                "f8c778ee.a48958"
            ]
        ]
    },
    {
        "id": "45df8523.17f7bc",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "TTS Trigger",
        "links": [
            "7c70a566.a6371c"
        ],
        "x": 215,
        "y": 2368,
        "wires": []
    },
    {
        "id": "5bf5d4c5.59daac",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Maintain",
        "info": "",
        "x": 554,
        "y": 2187,
        "wires": []
    },
    {
        "id": "76bdded1.b8428",
        "type": "fs-ops-delete",
        "z": "25081f9e.f5f34",
        "name": "",
        "path": "notification_directory",
        "pathType": "global",
        "filename": "files",
        "filenameType": "msg",
        "x": 867,
        "y": 2225,
        "wires": [
            []
        ]
    },
    {
        "id": "2822240b.ac4f1c",
        "type": "fs-ops-dir",
        "z": "25081f9e.f5f34",
        "name": "",
        "path": "notification_directory",
        "pathType": "global",
        "filter": "notification_*.*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 717,
        "y": 2225,
        "wires": [
            [
                "76bdded1.b8428"
            ]
        ]
    },
    {
        "id": "5b658e0c.99519",
        "type": "fs-ops-dir",
        "z": "25081f9e.f5f34",
        "name": "",
        "path": "notification_cache",
        "pathType": "global",
        "filter": "*_*.mp3",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 717,
        "y": 2258,
        "wires": [
            [
                "566e2c4a.fd11c4"
            ]
        ]
    },
    {
        "id": "566e2c4a.fd11c4",
        "type": "fs-ops-delete",
        "z": "25081f9e.f5f34",
        "name": "",
        "path": "notification_directory",
        "pathType": "global",
        "filename": "files",
        "filenameType": "msg",
        "x": 867,
        "y": 2258,
        "wires": [
            []
        ]
    },
    {
        "id": "a95bb148.f6cf8",
        "type": "status",
        "z": "25081f9e.f5f34",
        "name": "",
        "scope": [
            "94a3f8d9.622f08"
        ],
        "x": 949,
        "y": 2419,
        "wires": [
            [
                "cb9f1269.8a42a"
            ]
        ]
    },
    {
        "id": "cb9f1269.8a42a",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "initiate next",
        "rules": [
            {
                "t": "set",
                "p": "releaseNext",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1101,
        "y": 2419,
        "wires": [
            [
                "f6bd0928.fc79a8"
            ]
        ]
    },
    {
        "id": "f6bd0928.fc79a8",
        "type": "function",
        "z": "25081f9e.f5f34",
        "name": "queue",
        "func": "// modified version - originally from https://gist.github.com/dceejay/cea8afa28b7a93ebdc0f \n\n// restartQueue = create new\nif (msg.hasOwnProperty(\"restartQueue\")) {\n    context.queue = []\n    \n// if queue doesn't exist, create it    \n} else {\n    context.queue = context.queue || []\n    context.busy = context.busy || false\n\n    // if the msg is a trigger one release next message\n    if (msg.hasOwnProperty(\"releaseNext\")) {\n        if (context.queue.length > 0) {\n            var m = context.queue.shift()\n            node.status({ fill: 'green', shape: 'dot', text: context.queue.length })\n            return m \n        }\n        else {\n            context.busy = false;\n        }\n    }\n    else {\n        if (context.busy) {\n            // if busy add to queue\n            context.queue.push(msg);\n        }\n        else {\n        // otherwise we are empty so just pass through and set busy flag\n            context.busy = true;\n            node.status({ fill: 'green', shape: 'dot', text: context.queue.length })\n            return msg;\n        }\n    }\n}\nnode.status({ fill: 'green', shape: 'dot', text: context.queue.length })\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1012,
        "y": 2370,
        "wires": [
            [
                "94a3f8d9.622f08"
            ]
        ]
    },
    {
        "id": "39107409.2bd34c",
        "type": "http in",
        "z": "25081f9e.f5f34",
        "name": "",
        "url": "/notifications/:mp3file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 2566,
        "wires": [
            [
                "8d123025.d983d"
            ]
        ]
    },
    {
        "id": "a6b140d2.92031",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "serve mp3 file for SONOS player",
        "info": "",
        "x": 170,
        "y": 2529,
        "wires": []
    },
    {
        "id": "8d123025.d983d",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$globalContext('notification_directory') & '/' & msg.req.params.mp3file",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 374,
        "y": 2566,
        "wires": [
            [
                "88023347.baaa5"
            ]
        ]
    },
    {
        "id": "88023347.baaa5",
        "type": "file in",
        "z": "25081f9e.f5f34",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "x": 534,
        "y": 2566,
        "wires": [
            [
                "90c7cb1e.f8b988"
            ]
        ]
    },
    {
        "id": "739ca8ed.a5b598",
        "type": "catch",
        "z": "25081f9e.f5f34",
        "name": "",
        "scope": [
            "8d123025.d983d",
            "88023347.baaa5",
            "90c7cb1e.f8b988"
        ],
        "uncaught": false,
        "x": 549,
        "y": 2614,
        "wires": [
            [
                "a92f54ca.9b9918",
                "e2120fb8.13076"
            ]
        ]
    },
    {
        "id": "c3be5270.7da9c",
        "type": "http response",
        "z": "25081f9e.f5f34",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 829,
        "y": 2565,
        "wires": []
    },
    {
        "id": "c3d21ae8.1d9e98",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Test",
        "info": "http://192.168.178.49:1880/notifications/notification_weather.mp3",
        "x": 386,
        "y": 2530,
        "wires": []
    },
    {
        "id": "e1f463c3.4e624",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "Flush command queue",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1095,
        "y": 2186,
        "wires": [
            [
                "6e7df499.48bb2c"
            ]
        ]
    },
    {
        "id": "6e7df499.48bb2c",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "restartQueue",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1107,
        "y": 2223,
        "wires": [
            [
                "f6bd0928.fc79a8"
            ]
        ]
    },
    {
        "id": "f8c778ee.a48958",
        "type": "function",
        "z": "25081f9e.f5f34",
        "name": "check globals",
        "func": "// checks existens of requried global variables\n//\nlet value = global.get('system_baseUrl')\nif (!isTruthyAndNotEmptyString(value)) {\n    node.error('global - system_baseUrl not defined')\n    return null\n}\nvalue = global.get('notification_cache')\nif (!isTruthyAndNotEmptyString(value)) {\n    node.error('global - notification_cache not defined')\n    return null\n}\nvalue = global.get('notification_directory')\nif (!isTruthyAndNotEmptyString(value)) {\n    node.error('global - notification_directory not defined')\n    return null\n}\nreturn msg\n\nfunction isTruthyAndNotEmptyString (input) {\n    return !(typeof input === 'undefined' || input === null ||\n      (typeof input === 'number' && !Number.isFinite(input)) || input === '')\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 432,
        "y": 2369,
        "wires": [
            [
                "a881a188.4c194"
            ]
        ]
    },
    {
        "id": "434999ac.a373d8",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Recommendation: Define globals as permanent",
        "info": "This is done in the settings.js file. \nUncomment the contextStorage paragraph.\nThis will store all context variable on disk.",
        "x": 440,
        "y": 2151,
        "wires": []
    },
    {
        "id": "5cca9dcf.2b7814",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "weather",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "notification_weather.mp3",
        "payload": "We expect nice weather without any rain. Enjoy the day.",
        "payloadType": "str",
        "x": 450,
        "y": 2475,
        "wires": [
            [
                "cdcb0b84.3e80c8"
            ]
        ]
    },
    {
        "id": "90c7cb1e.f8b988",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "set 200",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 664,
        "y": 2566,
        "wires": [
            [
                "c3be5270.7da9c"
            ]
        ]
    },
    {
        "id": "a92f54ca.9b9918",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "set 404",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 675,
        "y": 2614,
        "wires": [
            [
                "c3be5270.7da9c"
            ]
        ]
    },
    {
        "id": "e2120fb8.13076",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 2649,
        "wires": []
    },
    {
        "id": "94a3f8d9.622f08",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.notification",
        "name": "",
        "x": 1191,
        "y": 2370,
        "wires": [
            [
                "a29a63d7.3e64c"
            ]
        ]
    },
    {
        "id": "a29a63d7.3e64c",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1286,
        "y": 2419,
        "wires": []
    },
    {
        "id": "536e14cb.5bbbcc",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "habit",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "notification_habit.mp3",
        "payload": "Don't do unto others what you would not have done unto you. Don't do unto others what you would not have done unto you.",
        "payloadType": "str",
        "x": 90,
        "y": 2468,
        "wires": [
            [
                "45df8523.17f7bc"
            ]
        ]
    },
    {
        "id": "a72c5aae.097e58",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "Example 8: Group snapshot with save queue",
        "info": "",
        "x": 175,
        "y": 976,
        "wires": []
    },
    {
        "id": "47546566.e54dac",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1011,
        "wires": [
            [
                "a6faed33.59f02"
            ]
        ]
    },
    {
        "id": "a3913e88.2f518",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.create.snap",
        "name": "",
        "x": 710,
        "y": 1050,
        "wires": [
            [
                "214d9ba2.b171d4"
            ]
        ]
    },
    {
        "id": "214d9ba2.b171d4",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "store in flow, stop",
        "rules": [
            {
                "t": "set",
                "p": "recentsnapshot",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 853,
        "y": 1009,
        "wires": [
            [
                "8793912b.c33de"
            ]
        ]
    },
    {
        "id": "864433c7.ce87b",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.save.queue",
        "state": "queueBackup",
        "stateType": "str",
        "name": "",
        "x": 433,
        "y": 1050,
        "wires": [
            [
                "9c8b04f0.ffcfa8"
            ]
        ]
    },
    {
        "id": "7f4c7f7b.d858b",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1111,
        "wires": [
            [
                "2e987a06.948b86"
            ]
        ]
    },
    {
        "id": "2e987a06.948b86",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.clear.queue",
        "name": "",
        "x": 160,
        "y": 1151,
        "wires": [
            [
                "53358155.282d6"
            ]
        ]
    },
    {
        "id": "8793912b.c33de",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.stop",
        "name": "",
        "x": 951,
        "y": 1050,
        "wires": [
            [
                "94510914.f1a8f8"
            ]
        ]
    },
    {
        "id": "a6faed33.59f02",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.remove.sonosplaylist",
        "state": "queueBackup",
        "stateType": "str",
        "name": "",
        "x": 190,
        "y": 1050,
        "wires": [
            [
                "864433c7.ce87b"
            ]
        ]
    },
    {
        "id": "94510914.f1a8f8",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1086,
        "y": 1050,
        "wires": []
    },
    {
        "id": "a3d58123.59236",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.clear.queue",
        "name": "",
        "x": 290,
        "y": 399,
        "wires": [
            [
                "a85e280f.b66018"
            ]
        ]
    },
    {
        "id": "e98515bc.1987a8",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.get.trackplus",
        "name": "",
        "x": 689,
        "y": 71,
        "wires": [
            [
                "def97151.686e9"
            ]
        ]
    },
    {
        "id": "45978a20.48df94",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.clear.queue",
        "name": "",
        "x": 293,
        "y": 606,
        "wires": [
            [
                "6189d582.9e898c"
            ]
        ]
    },
    {
        "id": "5863ebe9.89e0b4",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.queue",
        "name": "",
        "x": 715,
        "y": 606,
        "wires": [
            [
                "54c37fb8.f6b96"
            ]
        ]
    },
    {
        "id": "a6a04d77.01a48",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.tunein",
        "state": "s24896",
        "stateType": "str",
        "name": "",
        "x": 433,
        "y": 760,
        "wires": [
            [
                "1c33a5c6.c4c47a"
            ]
        ]
    },
    {
        "id": "1c33a5c6.c4c47a",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.stop",
        "name": "",
        "x": 617,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "94d5205c.f8562",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.create.group",
        "state": "Küche,Bad",
        "stateType": "str",
        "name": "",
        "x": 518,
        "y": 897,
        "wires": [
            []
        ]
    },
    {
        "id": "54c37fb8.f6b96",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 744,
        "y": 549,
        "wires": []
    },
    {
        "id": "70f8c562.6cfc6c",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "8d44022c.adb65",
        "command": "player.get.properties",
        "name": "",
        "x": 278,
        "y": 499,
        "wires": [
            [
                "51281a6b.ba3244"
            ]
        ]
    },
    {
        "id": "67a14287.ce336c",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 499,
        "wires": [
            [
                "70f8c562.6cfc6c"
            ]
        ]
    },
    {
        "id": "c3c2037.bf1ca",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "8d44022c.adb65",
        "command": "player.play.avtransport",
        "name": "",
        "x": 783,
        "y": 494,
        "wires": [
            []
        ]
    },
    {
        "id": "d85e139d.6ee3c",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.set.mutestate",
        "state": "on",
        "stateType": "str",
        "name": "",
        "x": 320,
        "y": 711,
        "wires": [
            []
        ]
    },
    {
        "id": "e3fb4a2f.088628",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.set.mutestate",
        "state": "Off",
        "stateType": "str",
        "name": "",
        "x": 622,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "9c8b04f0.ffcfa8",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "store volumes, mute sate",
        "rules": [
            {
                "t": "set",
                "p": "snapVolumes",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "snapMutestates",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1009,
        "wires": [
            [
                "a3913e88.2f518"
            ]
        ]
    },
    {
        "id": "2c292e27.39eec2",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.snap",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 680,
        "y": 1150,
        "wires": [
            [
                "dd8d92da.82331"
            ]
        ]
    },
    {
        "id": "dd8d92da.82331",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 1150,
        "wires": []
    },
    {
        "id": "53358155.282d6",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.queue.item",
        "state": "queueBackup",
        "stateType": "str",
        "name": "",
        "x": 378,
        "y": 1151,
        "wires": [
            [
                "ec6a899a.01f038"
            ]
        ]
    },
    {
        "id": "6189d582.9e898c",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.queue.item",
        "state": "MLAdele",
        "stateType": "str",
        "name": "",
        "x": 507,
        "y": 606,
        "wires": [
            [
                "5863ebe9.89e0b4"
            ]
        ]
    },
    {
        "id": "bfd14e05.fc637",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 131,
        "wires": [
            [
                "21bbf8a2.91cf88"
            ]
        ]
    },
    {
        "id": "21bbf8a2.91cf88",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.stream.item",
        "state": "Best Of Lovesongs",
        "stateType": "str",
        "name": "",
        "x": 336,
        "y": 131,
        "wires": [
            [
                "19467cf3.bf94e3"
            ]
        ]
    },
    {
        "id": "b00f076b.684228",
        "type": "sonos-manage-mysonos",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "mysonos.export.item",
        "state": "ML10CC",
        "stateType": "str",
        "name": "",
        "x": 300,
        "y": 298,
        "wires": [
            [
                "6df55e35.988ef"
            ]
        ]
    },
    {
        "id": "1398f404.df1e1c",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 298,
        "wires": [
            [
                "b00f076b.684228"
            ]
        ]
    },
    {
        "id": "ec6a899a.01f038",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "restore from flow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "recentsnapshot",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1114,
        "wires": [
            [
                "2c292e27.39eec2"
            ]
        ]
    },
    {
        "id": "6162cad1.5fbc54",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.get.groups",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 241,
        "y": 1293,
        "wires": [
            [
                "a5ac24fd.39eda8"
            ]
        ]
    },
    {
        "id": "a5ac24fd.39eda8",
        "type": "split",
        "z": "25081f9e.f5f34",
        "name": "split group",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 439,
        "y": 1293,
        "wires": [
            [
                "52490b6b.2bd554"
            ]
        ]
    },
    {
        "id": "42da530c.e6e47c",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.create.snap",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 709,
        "y": 1333,
        "wires": [
            [
                "f9aeefd2.81d0e"
            ]
        ]
    },
    {
        "id": "52490b6b.2bd554",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "Set snapshot properties",
        "rules": [
            {
                "t": "set",
                "p": "playerName",
                "pt": "msg",
                "to": "payload[0].playerName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "snapVolumes",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "snapMutestates",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1333,
        "wires": [
            [
                "42da530c.e6e47c"
            ]
        ]
    },
    {
        "id": "f9aeefd2.81d0e",
        "type": "join",
        "z": "25081f9e.f5f34",
        "name": "join groups snap",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 734,
        "y": 1293,
        "wires": [
            [
                "ded91223.8c5dd"
            ]
        ]
    },
    {
        "id": "36c2013b.149e8e",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "create household snapshot: start",
        "links": [],
        "x": 54,
        "y": 1293,
        "wires": [
            [
                "6162cad1.5fbc54"
            ]
        ]
    },
    {
        "id": "ded91223.8c5dd",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "set flow variable",
        "rules": [
            {
                "t": "set",
                "p": "householdSnapshot",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 924,
        "y": 1293,
        "wires": [
            [
                "1771f4d3.060ceb",
                "33da512c.231aee"
            ]
        ]
    },
    {
        "id": "a0a66691.d95cf8",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124,
        "y": 1333,
        "wires": [
            [
                "6162cad1.5fbc54"
            ]
        ]
    },
    {
        "id": "1771f4d3.060ceb",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "create household snapshot: start",
        "links": [],
        "x": 1077,
        "y": 1293,
        "wires": []
    },
    {
        "id": "560a3349.18adfc",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "restore household snapshot: start",
        "links": [],
        "x": 54,
        "y": 1466,
        "wires": [
            [
                "51a2efc6.772c4"
            ]
        ]
    },
    {
        "id": "51a2efc6.772c4",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "restore from flow variable",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "householdSnapshot",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 251,
        "y": 1466,
        "wires": [
            [
                "2a726a5c.8af7b6"
            ]
        ]
    },
    {
        "id": "2a726a5c.8af7b6",
        "type": "split",
        "z": "25081f9e.f5f34",
        "name": "split snap",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 449,
        "y": 1466,
        "wires": [
            [
                "33b43891.954d98"
            ]
        ]
    },
    {
        "id": "33b43891.954d98",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "set playerName",
        "rules": [
            {
                "t": "set",
                "p": "playerName",
                "pt": "msg",
                "to": "payload.membersData[0].playerName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 492,
        "y": 1504,
        "wires": [
            [
                "e86b25e3.728c58"
            ]
        ]
    },
    {
        "id": "e86b25e3.728c58",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "group.play.snap",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 683,
        "y": 1504,
        "wires": [
            [
                "511a5c97.a2da54"
            ]
        ]
    },
    {
        "id": "851786be.0cd4a8",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124,
        "y": 1506,
        "wires": [
            [
                "51a2efc6.772c4"
            ]
        ]
    },
    {
        "id": "b4321803.d207c8",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "restore group states from flow variable \"householdSnapshot\"",
        "info": "# restore group states from flow variable\n\n## Use case\n- to play a notification on all players\n- to listen to tv, podcast, line in  and restore after\n- \nWorks together with create household snapshot flow\n\n## Customizing\n - edit `group.play.snap` and select your configuration node.\n - edit `restore from flow variable` node to define a different flow variable (optionally)\n\n## Result\nThe original state is restored in all groups.\n\n## Restrictions\nWhat is not restored\n - the original household topology is not restore\n - the queue state such as shuffle or normal\n - the queue entries",
        "x": 259,
        "y": 1433,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "414c2f8b.f00eb",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "create snapshop and save in flow variable \"householdSnapshot\"",
        "info": "# Creates a snapshot of all group states and the topology in household.\n\n## Use case\n - to play a notification on all players\n - to listen to tv, podcast, line in and restore after\n\nWorks together with flow to restore household snapshot.\n\n## Customizing\n - edit `household.get.group`, `group.create.snap` and select your configuration node.\n - edit `set flow variable` node to define a different flow variable (optionally)\n\n## Result\nAn array of group state snapshopts are stored in the the flow variable. That can be used to restore the household players state.\n\n## Limitations\nWhat is not stored: \n - the queue state such as shuffle or normal\n - the queue entries\n ",
        "x": 269,
        "y": 1261,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "1d9709f0.e93166",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "09 Household snapshot and grouping",
        "info": "",
        "x": 155,
        "y": 1225,
        "wires": [],
        "icon": "node-red-contrib-sonos-plus/sonos.png"
    },
    {
        "id": "355071e3.75cf1e",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "restore household snapshot: end",
        "links": [],
        "x": 965,
        "y": 1466,
        "wires": []
    },
    {
        "id": "33da512c.231aee",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1014,
        "y": 1331,
        "wires": []
    },
    {
        "id": "56622eb.11089d",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "timestamp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 883,
        "y": 1503,
        "wires": []
    },
    {
        "id": "2a8e796.4a28886",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑just for testing",
        "info": "\n ",
        "x": 119,
        "y": 1538,
        "wires": []
    },
    {
        "id": "e9a92b48.97d058",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑ just for testing",
        "info": "\n ",
        "x": 119,
        "y": 1366,
        "wires": []
    },
    {
        "id": "511a5c97.a2da54",
        "type": "join",
        "z": "25081f9e.f5f34",
        "name": "join groups snap",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 713,
        "y": 1466,
        "wires": [
            [
                "56622eb.11089d",
                "355071e3.75cf1e"
            ]
        ]
    },
    {
        "id": "721200ae.054a5",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "restore household topology: start",
        "links": [],
        "x": 56,
        "y": 1649,
        "wires": [
            [
                "220deafb.f86326"
            ]
        ]
    },
    {
        "id": "220deafb.f86326",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "restore from flow variable",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "householdSnapshot",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 254,
        "y": 1649,
        "wires": [
            [
                "b9f2373e.3c56d8"
            ]
        ]
    },
    {
        "id": "a474fde9.320a7",
        "type": "split",
        "z": "25081f9e.f5f34",
        "name": "split snap",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 626,
        "y": 1649,
        "wires": [
            [
                "e620d11.285013"
            ]
        ]
    },
    {
        "id": "e620d11.285013",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "create csv",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$join(payload.membersData.playerName, ',')\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 652,
        "y": 1687,
        "wires": [
            [
                "d19c3ef7.4399c"
            ]
        ]
    },
    {
        "id": "d19c3ef7.4399c",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.create.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 858,
        "y": 1687,
        "wires": [
            [
                "65355b70.f421b4"
            ]
        ]
    },
    {
        "id": "a350d2f9.b9ccd",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 126,
        "y": 1689,
        "wires": [
            [
                "220deafb.f86326"
            ]
        ]
    },
    {
        "id": "af18af1.6fcdd5",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "restore topologoy from flow variable \"householdSnapshot\"",
        "info": "restore topologoy from flow variable \"householdSnapshot\"\n\n## Use case\n- to play a notification on all players and roll back\n\n## Customizing\n - edit `household.create.group`,  and select your configuration node.\n - edit `set flow variable` node to define a different flow variable (optionally)\n\n## Result\nAll household players are grouped as defined in the snapshot\n\n## Limitation\n - The coordinator can not be set in this flow. \n - It may take some seconds until SONOS player have finished their jobs.\n\n## CAUTION\nIn case your household has a lot of players the creation of a group may take too long and therefore the group creation will fail. ",
        "x": 251,
        "y": 1616,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "ba401a28.07edd8",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "restore household topology: end",
        "links": [],
        "x": 1144,
        "y": 1649,
        "wires": []
    },
    {
        "id": "dd9aeada.78aa08",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1082,
        "y": 1687,
        "wires": []
    },
    {
        "id": "fb3ad86a.cf7a08",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑just for testing",
        "info": "\n ",
        "x": 121,
        "y": 1721,
        "wires": []
    },
    {
        "id": "65355b70.f421b4",
        "type": "join",
        "z": "25081f9e.f5f34",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 951,
        "y": 1649,
        "wires": [
            [
                "ba401a28.07edd8",
                "dd9aeada.78aa08"
            ]
        ]
    },
    {
        "id": "51b597a0.230198",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "group all players into single group",
        "info": "# group all players into single group\n\n## Use case\n- to play a notification on all players\n\n## Customizing\n - edit `household.get.groups`, `household.create.group` and select your configuration node.\n\n## Result\nAll household players are in single group.\n\n## Limitation\n - The coordinator is not set in this flow. \n - It may take some seconds to complete this.",
        "x": 170,
        "y": 1837,
        "wires": [],
        "icon": "node-red/subflow.svg"
    },
    {
        "id": "7fa8fa96.d0af54",
        "type": "link in",
        "z": "25081f9e.f5f34",
        "name": "group all players in single group: start",
        "links": [],
        "x": 55,
        "y": 1870,
        "wires": [
            [
                "f06d6fa3.d8349"
            ]
        ]
    },
    {
        "id": "5e21d4e1.1b3c1c",
        "type": "inject",
        "z": "25081f9e.f5f34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 1935,
        "wires": [
            [
                "f06d6fa3.d8349"
            ]
        ]
    },
    {
        "id": "f06d6fa3.d8349",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.get.groups",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 240,
        "y": 1880,
        "wires": [
            [
                "1882a0ef.94a6af"
            ]
        ]
    },
    {
        "id": "bc712824.bf17c8",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "create csv",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$join(payload.playerName,',')\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 614,
        "y": 1870,
        "wires": [
            [
                "80b0b8f.59ed948"
            ]
        ]
    },
    {
        "id": "734ab87f.3a68f8",
        "type": "debug",
        "z": "25081f9e.f5f34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 957,
        "y": 1907,
        "wires": []
    },
    {
        "id": "80b0b8f.59ed948",
        "type": "sonos-universal",
        "z": "25081f9e.f5f34",
        "confignode": "88e9fa70.4a53e8",
        "command": "household.create.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 821,
        "y": 1870,
        "wires": [
            [
                "c11ad469.112368",
                "734ab87f.3a68f8"
            ]
        ]
    },
    {
        "id": "6d411e2c.93dfd",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑just for testing",
        "info": "\n ",
        "x": 120,
        "y": 1967,
        "wires": []
    },
    {
        "id": "c11ad469.112368",
        "type": "link out",
        "z": "25081f9e.f5f34",
        "name": "group all players in single group: end",
        "links": [],
        "x": 1018,
        "y": 1870,
        "wires": []
    },
    {
        "id": "1882a0ef.94a6af",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "biggest first",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sort(payload, function($l, $r) {\t  $count($r) > $count($l)\t})\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 442,
        "y": 1870,
        "wires": [
            [
                "bc712824.bf17c8"
            ]
        ]
    },
    {
        "id": "ba13e419.057c88",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify",
        "info": "",
        "x": 291,
        "y": 1892,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "607cd186.7b0b5",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↓modify",
        "info": "",
        "x": 881,
        "y": 1847,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "d7a0e21b.c7d47",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↓modify",
        "info": "",
        "x": 796,
        "y": 1661,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "847b1465.a7c858",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify",
        "info": "",
        "x": 290,
        "y": 1320,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "40dc9f97.d2fdc",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify",
        "info": "",
        "x": 750,
        "y": 1360,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "9fac1ab6.7839e8",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify",
        "info": "",
        "x": 713,
        "y": 1528,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "be6b3b4e.443648",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify?",
        "info": "",
        "x": 305,
        "y": 1676,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "c74a5f3d.b3a48",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↑modify?",
        "info": "",
        "x": 321,
        "y": 1492,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "ca002798.a37758",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "↓modify?",
        "info": "",
        "x": 945,
        "y": 1266,
        "wires": [],
        "icon": "font-awesome/fa-edit"
    },
    {
        "id": "b9f2373e.3c56d8",
        "type": "change",
        "z": "25081f9e.f5f34",
        "name": "smallest first",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sort(payload, function($l, $r) {\t  $count($r.membersData) < $count($l.membersData)\t})\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 464,
        "y": 1649,
        "wires": [
            [
                "a474fde9.320a7"
            ]
        ]
    },
    {
        "id": "a04b8409.5ae458",
        "type": "comment",
        "z": "25081f9e.f5f34",
        "name": "10 create one single group with all players",
        "info": "",
        "x": 165,
        "y": 1804,
        "wires": [],
        "icon": "node-red-contrib-sonos-plus/sonos.png"
    },
    {
        "id": "88e9fa70.4a53e8",
        "type": "sonos-config",
        "name": "kitchen",
        "serialnum": "",
        "ipaddress": "192.168.178.37"
    },
    {
        "id": "8945d5a5.31aef8",
        "type": "polly-config",
        "name": "pollyaws"
    },
    {
        "id": "8d44022c.adb65",
        "type": "sonos-config",
        "name": "living",
        "serialnum": "",
        "ipaddress": "192.168.178.36"
    }
]