examples/mysonos.json
[{"id":"e8f37cb1.2dc0b","type":"comment","z":"fcb24b59.997048","name":"Spotify: station, playlist","info":"","x":141,"y":2555,"wires":[]},{"id":"92abce9e.85b6f","type":"comment","z":"fcb24b59.997048","name":"TuneIn stations","info":"","x":120,"y":2673,"wires":[]},{"id":"c9c085fa.fb9ab8","type":"comment","z":"fcb24b59.997048","name":"Napster","info":"","x":370,"y":2583,"wires":[]},{"id":"fb76baff.bb2398","type":"comment","z":"fcb24b59.997048","name":"Amazon: album, playlist, station, track","info":"","x":191,"y":2441,"wires":[]},{"id":"20e5cf37.08a8f","type":"comment","z":"fcb24b59.997048","name":"Radioplayer","info":"","x":111,"y":2786,"wires":[]},{"id":"5d29c399.3213fc","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":801,"y":2470,"wires":[["22bba9be.293d36"]]},{"id":"9c2d9076.4e8a3","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.queue.item","state":"TestSonosPl","stateType":"str","name":"","x":1001,"y":2653,"wires":[[]]},{"id":"2b5e32b5.baba2e","type":"comment","z":"fcb24b59.997048","name":"Music-Library in My-Sonos: album, imported playlist, track","info":"","x":252,"y":2939,"wires":[],"icon":"node-red/alert.svg"},{"id":"b95a5045.5f116","type":"comment","z":"fcb24b59.997048","name":"SONOS-Playlists","info":"","x":120,"y":2857,"wires":[],"icon":"node-red/alert.svg"},{"id":"5f66670.413e398","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best Of Love","payloadType":"str","x":811,"y":2577,"wires":[["ba055dee.63632"]]},{"id":"f9e84d92.4d50b","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Arabella","payloadType":"str","x":801,"y":2609,"wires":[["ba055dee.63632"]]},{"id":"22bba9be.293d36","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.get.items","name":"","x":973,"y":2470,"wires":[["9f3fe37a.b9859"]]},{"id":"c07195a5.47a3d8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TestSonosPl","payloadType":"str","x":811,"y":2653,"wires":[["9c2d9076.4e8a3"]]},{"id":"6cb68b39.a5fc34","type":"comment","z":"fcb24b59.997048","name":"Get all","info":"","x":791,"y":2437,"wires":[],"icon":"node-red/alert.svg"},{"id":"ba055dee.63632","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.stream.item","name":"","x":1003,"y":2594,"wires":[[]]},{"id":"a143043a.2cc1d8","type":"comment","z":"fcb24b59.997048","name":"MY-SONOS NODE","info":"","x":95,"y":2018,"wires":[]},{"id":"7eb9a240.6973bc","type":"comment","z":"fcb24b59.997048","name":"Music-Library","info":"","x":75,"y":2053,"wires":[],"icon":"node-red/alert.svg"},{"id":"daf5b01a.c34a1","type":"comment","z":"fcb24b59.997048","name":"Select and play","info":"","x":821,"y":2542,"wires":[],"icon":"node-red/alert.svg"},{"id":"a609fcbf.df602","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20 Jahre Napster","payloadType":"str","x":401,"y":2616,"wires":[["8a32208c.a122"]]},{"id":"b1ed0d26.19576","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Best of Prime Music","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime Music","payloadType":"str","x":131,"y":2506,"wires":[["8a32208c.a122"]]},{"id":"f253c956.a8d4f8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Arabella","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Arabella","payloadType":"str","x":101,"y":2707,"wires":[["8a32208c.a122"]]},{"id":"b6c76ac1.8dc558","type":"change","z":"fcb24b59.997048","name":"volume 30","rules":[{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":256,"y":2739,"wires":[["8a32208c.a122"]]},{"id":"f5d29aa.8d06168","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1A Fitness Hits","payloadType":"str","x":121,"y":2820,"wires":[["8a32208c.a122"]]},{"id":"777e72b2.15896c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Daily Mix","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Daily Mix","payloadType":"str","x":101,"y":2588,"wires":[["8a32208c.a122"]]},{"id":"7ebbde0d.b2b65","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Best Of Love","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best Of Love","payloadType":"str","x":398,"y":2476,"wires":[["8a32208c.a122"]]},{"id":"854c3919.8dd678","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GloomySunday","payloadType":"str","x":121,"y":2620,"wires":[["8a32208c.a122"]]},{"id":"2a0aed89.ba2082","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Blowin' in the Wind","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Blowin' in the Wind","payloadType":"str","x":377,"y":2509,"wires":[["8a32208c.a122"]]},{"id":"bd35776a.113c88","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TestSonosPl","payloadType":"str","x":111,"y":2890,"wires":[["8a32208c.a122"]]},{"id":"ed009658.1c4988","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"People","payloadType":"str","x":310,"y":2972,"wires":[["8a32208c.a122"]]},{"id":"b0881aed.fd3228","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"str","x":91,"y":2972,"wires":[["8a32208c.a122"]]},{"id":"24368ecf.eca022","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bayern 3","payloadType":"str","x":101,"y":2739,"wires":[["b6c76ac1.8dc558"]]},{"id":"9f3fe37a.b9859","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":2470,"wires":[]},{"id":"6f7ebb08.772014","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Genesis 1976-1982","payloadType":"str","x":131,"y":2169,"wires":[["69b12446.e145cc"]]},{"id":"e073f15c.4c052","type":"comment","z":"fcb24b59.997048","name":"Export: album, playlist, track","info":"","x":160,"y":2088,"wires":[],"icon":"node-red/alert.svg"},{"id":"3193f97e.0c5536","type":"inject","z":"fcb24b59.997048","name":"Girl","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Girl","payloadType":"str","x":1070,"y":2155,"wires":[["8b20e0b5.f5dff"]]},{"id":"8b20e0b5.f5dff","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.albums","state":"","stateType":"str","name":"","x":1259,"y":2138,"wires":[["b7c6d8cb.6b8888"]]},{"id":"b7c6d8cb.6b8888","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":2174,"wires":[]},{"id":"3104660b.68358a","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"searchTitle","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1070,"y":2122,"wires":[["8b20e0b5.f5dff"]]},{"id":"460600ae.e2161","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":100,"y":2122,"wires":[["a2967163.13fab"]]},{"id":"2c45fb0c.6ac8f4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Diamonds","payloadType":"str","x":100,"y":2216,"wires":[["c5f6b75c.4a95f8"]]},{"id":"35302241.ac031e","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"searchTitle","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1070,"y":2192,"wires":[["17888613.34f28a"]]},{"id":"17888613.34f28a","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.playlists","state":"","stateType":"str","name":"","x":1260,"y":2209,"wires":[["b7c6d8cb.6b8888"]]},{"id":"8d9f9fe5.face5","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":1080,"y":2224,"wires":[["17888613.34f28a"]]},{"id":"3c81693e.c38976","type":"comment","z":"fcb24b59.997048","name":"Get: Album, playlist","info":"","x":1109,"y":2089,"wires":[],"icon":"node-red/alert.svg"},{"id":"cbd66b1c.882a78","type":"comment","z":"fcb24b59.997048","name":"My-Sonos","info":"","x":65,"y":2400,"wires":[],"icon":"node-red/alert.svg"},{"id":"e2d764f1.37d0c8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HERZ KRAFT","payloadType":"str","x":111,"y":2473,"wires":[["8a32208c.a122"]]},{"id":"e0efd269.df8b1","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":101,"y":3005,"wires":[["8a32208c.a122"]]},{"id":"f16e432e.51962","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime","payloadType":"str","x":811,"y":2687,"wires":[["9c2d9076.4e8a3"]]},{"id":"8a32208c.a122","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.mysonos","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":560,"y":2775,"wires":[[]]},{"id":"a2967163.13fab","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.playlist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":315,"y":2122,"wires":[[]]},{"id":"69b12446.e145cc","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.album","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":390,"y":2169,"wires":[[]]},{"id":"c5f6b75c.4a95f8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.track","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":280,"y":2216,"wires":[[]]},{"id":"87e83078.ef3a4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Jürgens","payloadType":"str","x":90,"y":2264,"wires":[["99e5904e.e049b"]]},{"id":"99e5904e.e049b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.artist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":280,"y":2264,"wires":[[]]},{"id":"7332a858d1883cc5","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"clearQueue","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Genesis 1976-1982","payloadType":"str","x":650,"y":2277,"wires":[["b8912d993abf4084"]]},{"id":"b8912d993abf4084","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.album","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":870,"y":2277,"wires":[[]]},{"id":"3822628715b00f46","type":"comment","z":"fcb24b59.997048","name":"Queue: album, playlist, track","info":"","x":660,"y":2089,"wires":[],"icon":"node-red/alert.svg"},{"id":"bb6962f573ea3636","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":620,"y":2135,"wires":[["1833533ba2df0295"]]},{"id":"54db8f5dca973413","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Jürgens","payloadType":"str","x":610,"y":2228,"wires":[["cc71747a2d223dd7"]]},{"id":"cc71747a2d223dd7","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.artist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":810,"y":2228,"wires":[[]]},{"id":"01bd529b21d560ac","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Diamonds","payloadType":"str","x":620,"y":2181,"wires":[["893be233b0f7459b"]]},{"id":"893be233b0f7459b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.track","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":810,"y":2181,"wires":[[]]},{"id":"1833533ba2df0295","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.playlist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":820,"y":2135,"wires":[[]]},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"kitchen","serialnum":"","ipaddress":"192.168.178.37"}]