examples/mysonos.json
[{"id":"e8f37cb1.2dc0b","type":"comment","z":"fcb24b59.997048","name":"Spotify: station, playlist","info":"","x":141,"y":2500,"wires":[]},{"id":"92abce9e.85b6f","type":"comment","z":"fcb24b59.997048","name":"TuneIn stations","info":"","x":120,"y":2618,"wires":[]},{"id":"c9c085fa.fb9ab8","type":"comment","z":"fcb24b59.997048","name":"Napster","info":"","x":370,"y":2528,"wires":[]},{"id":"fb76baff.bb2398","type":"comment","z":"fcb24b59.997048","name":"Amazon: album, playlist, station, track","info":"","x":191,"y":2386,"wires":[]},{"id":"20e5cf37.08a8f","type":"comment","z":"fcb24b59.997048","name":"Radioplayer","info":"","x":111,"y":2731,"wires":[]},{"id":"5d29c399.3213fc","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":801,"y":2415,"wires":[["22bba9be.293d36"]]},{"id":"9c2d9076.4e8a3","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.queue.item","state":"TestSonosPl","stateType":"str","name":"","x":1001,"y":2598,"wires":[[]]},{"id":"2b5e32b5.baba2e","type":"comment","z":"fcb24b59.997048","name":"Music-Library in My-Sonos: album, imported playlist, track","info":"","x":252,"y":2884,"wires":[],"icon":"node-red/alert.svg"},{"id":"b95a5045.5f116","type":"comment","z":"fcb24b59.997048","name":"SONOS-Playlists","info":"","x":120,"y":2802,"wires":[],"icon":"node-red/alert.svg"},{"id":"5f66670.413e398","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best Of Love","payloadType":"str","x":811,"y":2522,"wires":[["ba055dee.63632"]]},{"id":"f9e84d92.4d50b","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Arabella","payloadType":"str","x":801,"y":2554,"wires":[["ba055dee.63632"]]},{"id":"22bba9be.293d36","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.get.items","name":"","x":973,"y":2415,"wires":[["9f3fe37a.b9859"]]},{"id":"c07195a5.47a3d8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TestSonosPl","payloadType":"str","x":811,"y":2598,"wires":[["9c2d9076.4e8a3"]]},{"id":"6cb68b39.a5fc34","type":"comment","z":"fcb24b59.997048","name":"Get all","info":"","x":791,"y":2382,"wires":[],"icon":"node-red/alert.svg"},{"id":"ba055dee.63632","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.stream.item","name":"","x":1003,"y":2539,"wires":[[]]},{"id":"a143043a.2cc1d8","type":"comment","z":"fcb24b59.997048","name":"MY-SONOS NODE","info":"","x":95,"y":1983,"wires":[]},{"id":"7eb9a240.6973bc","type":"comment","z":"fcb24b59.997048","name":"Music-Library","info":"","x":75,"y":2018,"wires":[],"icon":"node-red/alert.svg"},{"id":"daf5b01a.c34a1","type":"comment","z":"fcb24b59.997048","name":"Select and play","info":"","x":821,"y":2487,"wires":[],"icon":"node-red/alert.svg"},{"id":"a609fcbf.df602","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20 Jahre Napster","payloadType":"str","x":401,"y":2561,"wires":[["6a9f4e84.9bc77"]]},{"id":"6a9f4e84.9bc77","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"mysonos.export.item","state":"","stateType":"str","name":"","x":550,"y":2779,"wires":[["fbf15b76.cdbef8","35d60491.afef8c"]]},{"id":"b1ed0d26.19576","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Best of Prime Music","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime Music","payloadType":"str","x":131,"y":2451,"wires":[["6a9f4e84.9bc77"]]},{"id":"f253c956.a8d4f8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Arabella","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Arabella","payloadType":"str","x":101,"y":2652,"wires":[["6a9f4e84.9bc77"]]},{"id":"b6c76ac1.8dc558","type":"change","z":"fcb24b59.997048","name":"volume 30","rules":[{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":256,"y":2684,"wires":[["6a9f4e84.9bc77"]]},{"id":"f5d29aa.8d06168","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1A Fitness Hits","payloadType":"str","x":121,"y":2765,"wires":[["6a9f4e84.9bc77"]]},{"id":"777e72b2.15896c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Daily Mix","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Daily Mix","payloadType":"str","x":101,"y":2533,"wires":[["6a9f4e84.9bc77"]]},{"id":"7ebbde0d.b2b65","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Best Of Love","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best Of Love","payloadType":"str","x":398,"y":2421,"wires":[["6a9f4e84.9bc77"]]},{"id":"854c3919.8dd678","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GloomySunday","payloadType":"str","x":121,"y":2565,"wires":[["6a9f4e84.9bc77"]]},{"id":"2a0aed89.ba2082","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"Blowin' in the Wind","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Blowin' in the Wind","payloadType":"str","x":377,"y":2454,"wires":[["6a9f4e84.9bc77"]]},{"id":"fbf15b76.cdbef8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.export","state":"","stateType":"str","name":"","x":777,"y":2780,"wires":[[]]},{"id":"bd35776a.113c88","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TestSonosPl","payloadType":"str","x":111,"y":2835,"wires":[["6a9f4e84.9bc77"]]},{"id":"ed009658.1c4988","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"People","payloadType":"str","x":310,"y":2917,"wires":[["6a9f4e84.9bc77"]]},{"id":"b0881aed.fd3228","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"str","x":91,"y":2917,"wires":[["6a9f4e84.9bc77"]]},{"id":"24368ecf.eca022","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Bayern 3","payloadType":"str","x":101,"y":2684,"wires":[["b6c76ac1.8dc558"]]},{"id":"9f3fe37a.b9859","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":2415,"wires":[]},{"id":"12d37daf.c06572","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.export.album","state":"","stateType":"str","name":"","x":349,"y":2087,"wires":[["cd96d3dc.adc6d","de4c9ea9.30ad8"]]},{"id":"cd96d3dc.adc6d","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.export","state":"","stateType":"str","name":"","x":630,"y":2133,"wires":[[]]},{"id":"6f7ebb08.772014","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Genesis 1976-1982","payloadType":"str","x":131,"y":2087,"wires":[["12d37daf.c06572"]]},{"id":"e073f15c.4c052","type":"comment","z":"fcb24b59.997048","name":"Export: album, playlist, track","info":"","x":160,"y":2053,"wires":[],"icon":"node-red/alert.svg"},{"id":"3193f97e.0c5536","type":"inject","z":"fcb24b59.997048","name":"Girl","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Girl","payloadType":"str","x":870,"y":2121,"wires":[["8b20e0b5.f5dff"]]},{"id":"8b20e0b5.f5dff","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.albums","state":"","stateType":"str","name":"","x":1059,"y":2104,"wires":[["b7c6d8cb.6b8888"]]},{"id":"b7c6d8cb.6b8888","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":2140,"wires":[]},{"id":"3104660b.68358a","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"searchTitle","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":870,"y":2088,"wires":[["8b20e0b5.f5dff"]]},{"id":"743762e3.792d9c","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.export.playlist","state":"","stateType":"str","name":"","x":359,"y":2134,"wires":[["cd96d3dc.adc6d","de4c9ea9.30ad8"]]},{"id":"460600ae.e2161","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":100,"y":2134,"wires":[["743762e3.792d9c"]]},{"id":"2c45fb0c.6ac8f4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Blowin'","payloadType":"str","x":90,"y":2181,"wires":[["6dda2fb8.1badd"]]},{"id":"6dda2fb8.1badd","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.export.track","state":"","stateType":"str","name":"","x":349,"y":2181,"wires":[["cd96d3dc.adc6d","de4c9ea9.30ad8"]]},{"id":"35302241.ac031e","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"searchTitle","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":870,"y":2158,"wires":[["17888613.34f28a"]]},{"id":"17888613.34f28a","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.playlists","state":"","stateType":"str","name":"","x":1060,"y":2175,"wires":[["b7c6d8cb.6b8888"]]},{"id":"8d9f9fe5.face5","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":880,"y":2190,"wires":[["17888613.34f28a"]]},{"id":"3c81693e.c38976","type":"comment","z":"fcb24b59.997048","name":"Get: Album, playlist","info":"","x":909,"y":2055,"wires":[],"icon":"node-red/alert.svg"},{"id":"cbd66b1c.882a78","type":"comment","z":"fcb24b59.997048","name":"My-Sonos","info":"","x":65,"y":2345,"wires":[],"icon":"node-red/alert.svg"},{"id":"66912737.43d058","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":100,"y":2266,"wires":[["ff7586c7.f47c08"]]},{"id":"ff7586c7.f47c08","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.queue.playlist","state":"","stateType":"str","name":"","x":280,"y":2266,"wires":[[]]},{"id":"6d11777.714ad88","type":"comment","z":"fcb24b59.997048","name":"Queue playlist","info":"","x":110,"y":2232,"wires":[],"icon":"node-red/alert.svg"},{"id":"e2d764f1.37d0c8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HERZ KRAFT","payloadType":"str","x":111,"y":2418,"wires":[["6a9f4e84.9bc77"]]},{"id":"e0efd269.df8b1","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":101,"y":2950,"wires":[["6a9f4e84.9bc77"]]},{"id":"f16e432e.51962","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Best of Prime","payloadType":"str","x":811,"y":2632,"wires":[["9c2d9076.4e8a3"]]},{"id":"35d60491.afef8c","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":758,"y":2838,"wires":[]},{"id":"de4c9ea9.30ad8","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":2087,"wires":[]},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"kitchen","serialnum":"","ipaddress":"192.168.178.37"}]