examples/universal-queue.json
[{"id":"1fd013d2.e490cc","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1436,"wires":[["f8f5397c.9fc5c8"]]},{"id":"d4a540c7.a1c3c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":89,"y":1667,"wires":[["1c01ab2d.2b9625"]]},{"id":"bdd441f4.2d4c4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"NORMAL","payloadType":"str","x":99,"y":1501,"wires":[["55f515e0.9b980c"]]},{"id":"a8467182.c641d","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SHUFFLE","payloadType":"str","x":99,"y":1469,"wires":[["55f515e0.9b980c"]]},{"id":"d5ff679b.6505d8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"2","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":89,"y":1634,"wires":[["91b068f2.a67c68"]]},{"id":"91b068f2.a67c68","type":"change","z":"fcb24b59.997048","name":"6 tracks","rules":[{"t":"set","p":"numberOfTracks","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":221,"y":1648,"wires":[["1c01ab2d.2b9625"]]},{"id":"cda28de9.4a0b3","type":"inject","z":"fcb24b59.997048","name":"http: foghorn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","payloadType":"str","x":650,"y":1810,"wires":[["51d49a82.887694"]]},{"id":"51d49a82.887694","type":"change","z":"fcb24b59.997048","name":"with volume","rules":[{"t":"set","p":"volume","pt":"msg","to":"40","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":833,"y":1810,"wires":[["efdd2e17.e1fbd"]]},{"id":"9ed33604.0215c8","type":"comment","z":"fcb24b59.997048","name":"TuneIn","info":"","x":630,"y":1358,"wires":[],"icon":"node-red/alert.svg"},{"id":"ca286753.49c978","type":"inject","z":"fcb24b59.997048","name":"foghorn","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","payloadType":"str","x":630,"y":1887,"wires":[["659dbc63.67f134"]]},{"id":"659dbc63.67f134","type":"change","z":"fcb24b59.997048","name":"with volume","rules":[{"t":"set","p":"volume","pt":"msg","to":"40","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":781,"y":1887,"wires":[["45bb3557.49866c"]]},{"id":"fd346001.a9815","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1391,"wires":[["603bf096.7b10b"]]},{"id":"7db7aaf1.98c324","type":"comment","z":"fcb24b59.997048","name":"SONOS-Queue","info":"","x":120,"y":1359,"wires":[],"icon":"node-red/alert.svg"},{"id":"934b482e.555ef8","type":"comment","z":"fcb24b59.997048","name":"Notification http/NAS","info":"","x":670,"y":1778,"wires":[],"icon":"node-red/alert.svg"},{"id":"45bb3557.49866c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"joiner.play.notification","state":"","stateType":"str","name":"","x":982,"y":1887,"wires":[[]]},{"id":"75e67db3.22e244","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1602,"wires":[["4ea01c39.6d2854"]]},{"id":"681fa2a0.83a75c","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1557,"wires":[["2f53d9b2.e67ad6"]]},{"id":"72b9bcc7.b4a994","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":630,"y":1390,"wires":[["f033e838.6a1a98"]]},{"id":"e1f18d37.a5009","type":"inject","z":"fcb24b59.997048","name":"volume","props":[{"p":"payload"},{"p":"volume","v":"30","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":630,"y":1713,"wires":[["11575ece.7d3eb1"]]},{"id":"4303e3be.2f40ac","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":630,"y":1679,"wires":[["11575ece.7d3eb1"]]},{"id":"6a56315a.d7e13","type":"comment","z":"fcb24b59.997048","name":"Line In and TV","info":"","x":660,"y":1647,"wires":[],"icon":"node-red/alert.svg"},{"id":"11575ece.7d3eb1","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"player.play.linein","state":"x-rincon-stream:RINCON_000E58FE3AEA01400","stateType":"str","name":"","x":795,"y":1679,"wires":[[]]},{"id":"f033e838.6a1a98","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"s14991","stateType":"str","name":"","x":805,"y":1390,"wires":[[]]},{"id":"1c01ab2d.2b9625","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.remove.tracks","state":"","stateType":"str","name":"","x":393,"y":1668,"wires":[[]]},{"id":"4ea01c39.6d2854","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.clear.queue","state":"","stateType":"str","name":"","x":270,"y":1602,"wires":[[]]},{"id":"2f53d9b2.e67ad6","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.save.queue","state":"Backup","stateType":"str","name":"","x":270,"y":1557,"wires":[[]]},{"id":"55f515e0.9b980c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.set.queuemode","state":"","stateType":"str","name":"","x":280,"y":1485,"wires":[[]]},{"id":"f8f5397c.9fc5c8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.track","state":"2","stateType":"num","avoidCheckPlayerAvailability":false,"name":"","x":260,"y":1436,"wires":[[]]},{"id":"603bf096.7b10b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.queue","state":"","stateType":"str","name":"","x":270,"y":1391,"wires":[[]]},{"id":"efdd2e17.e1fbd","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.notification","state":"","stateType":"str","name":"","x":1046,"y":1810,"wires":[[]]},{"id":"5052113f.0e8e5","type":"inject","z":"fcb24b59.997048","name":"insert_spotify_uri Track","props":[{"p":"payload","v":"spotify:track:5AdoS3gS47x40nBNlNmPQ8","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"spotify:track:5AdoS3gS47x40nBNlNmPQ8","payloadType":"str","x":1078,"y":1392,"wires":[["634d07c2.0a4e08"]]},{"id":"2c0f1d3a.1fce12","type":"inject","z":"fcb24b59.997048","name":"insert_spotify_uri TopTrack","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"spotify:artistTopTracks:1dfeR4HaWDbWqFHLkxsg1d","payloadType":"str","x":1088,"y":1424,"wires":[["634d07c2.0a4e08"]]},{"id":"bb67878e.ba03c8","type":"inject","z":"fcb24b59.997048","name":"insert_spotify_uri Album","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"spotify:album:1TSZDcvlPtAnekTaItI3qO","payloadType":"str","x":1078,"y":1456,"wires":[["634d07c2.0a4e08"]]},{"id":"533f7189.5c01d","type":"inject","z":"fcb24b59.997048","name":"insert_spotify_uri Playlist","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"spotify:playlist:37i9dQZEVXbMDoHDwVN2tF","payloadType":"str","x":1088,"y":1491,"wires":[["634d07c2.0a4e08"]]},{"id":"a1883693.ffe118","type":"comment","z":"fcb24b59.997048","name":"SONOS-Queue Spotify","info":"","x":1078,"y":1360,"wires":[],"icon":"node-red/alert.svg"},{"id":"634d07c2.0a4e08","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.urispotify","state":"","stateType":"str","name":"","x":1338,"y":1456,"wires":[["826347186274c7f3"]]},{"id":"fd4cdf12.5c66c","type":"comment","z":"fcb24b59.997048","name":"SONOS-Queue  URI","info":"","x":129,"y":1809,"wires":[],"icon":"node-red/alert.svg"},{"id":"7655fe08.7b50e","type":"inject","z":"fcb24b59.997048","name":"Library Song Rihanny","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"x-file-cifs://nas2019/Multimedia/Music/MyMusic/Rihanna/Diamonds/Rihanna%20-%20Diamonds.mp3","payloadType":"str","x":139,"y":1914,"wires":[["cfad7644.d60bc8"]]},{"id":"2617f4e8.f78eac","type":"inject","z":"fcb24b59.997048","name":"testmp3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://archive.org/download/testmp3testfile/mpthreetest.mp3","payloadType":"str","x":89,"y":1841,"wires":[["cfad7644.d60bc8"]]},{"id":"cfad7644.d60bc8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.uri","state":"","stateType":"str","name":"","x":260,"y":1841,"wires":[["b9da195229ebf161"]]},{"id":"cb42319f.8fcb8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s24896","payloadType":"str","x":630,"y":1436,"wires":[["ea3ee8f6.81f858"]]},{"id":"ea3ee8f6.81f858","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"","stateType":"str","name":"","x":805,"y":1436,"wires":[[]]},{"id":"9fca3f35.52cdb","type":"comment","z":"fcb24b59.997048","name":"UNIVERSAL NODE - QUEUE / STREAM","info":"","x":165,"y":1326,"wires":[],"icon":"node-red/alert.svg"},{"id":"7eb9a240.6973bc","type":"comment","z":"fcb24b59.997048","name":"Music-Library","info":"","x":75,"y":2053,"wires":[],"icon":"node-red/alert.svg"},{"id":"6f7ebb08.772014","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Genesis 1976-1982","payloadType":"str","x":130,"y":2168,"wires":[["69b12446.e145cc"]]},{"id":"e073f15c.4c052","type":"comment","z":"fcb24b59.997048","name":"Export: album, playlist, track","info":"","x":160,"y":2089,"wires":[],"icon":"node-red/alert.svg"},{"id":"3193f97e.0c5536","type":"inject","z":"fcb24b59.997048","name":"Girl","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Girl","payloadType":"str","x":1102,"y":2154,"wires":[["8b20e0b5.f5dff"]]},{"id":"8b20e0b5.f5dff","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.albums","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1293,"y":2136,"wires":[["b7c6d8cb.6b8888"]]},{"id":"b7c6d8cb.6b8888","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1483,"y":2233,"wires":[]},{"id":"82c7dc83.7c455","type":"comment","z":"fcb24b59.997048","name":"Music-Library track","info":"","x":129,"y":1882,"wires":[],"icon":"node-red/alert.svg"},{"id":"cfa822f.74e21e","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.uri","state":"x-file-cifs://hkNas/Multimedia/Music/MyMusic/The%20Rolling%20Stones/Kuschelrock%2004/The%20Rolling%20Stones%20-%20Angie.mp3","stateType":"str","name":"","x":260,"y":1954,"wires":[["b9da195229ebf161"]]},{"id":"5125c513.ca6c4c","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1954,"wires":[["cfa822f.74e21e"]]},{"id":"aed6718a.7a55e","type":"comment","z":"fcb24b59.997048","name":"http stream","info":"","x":640,"y":1492,"wires":[],"icon":"node-red/alert.svg"},{"id":"c95823b7.e6866","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.streamhttp","state":"http://www.fritz.de/live.m3u","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":815,"y":1525,"wires":[[]]},{"id":"fbad7dfb.f92f9","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.streamhttp","state":"https://live.radioarabella.de","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":815,"y":1571,"wires":[[]]},{"id":"3104660b.68358a","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1102,"y":2121,"wires":[["8b20e0b5.f5dff"]]},{"id":"460600ae.e2161","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":100,"y":2121,"wires":[["a2967163.13fab"]]},{"id":"2c45fb0c.6ac8f4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Diamonds","payloadType":"str","x":100,"y":2215,"wires":[["c5f6b75c.4a95f8"]]},{"id":"35302241.ac031e","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":1102,"y":2191,"wires":[["17888613.34f28a"]]},{"id":"17888613.34f28a","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.playlists","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1293,"y":2204,"wires":[["b7c6d8cb.6b8888"]]},{"id":"8d9f9fe5.face5","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":1112,"y":2223,"wires":[["17888613.34f28a"]]},{"id":"3c81693e.c38976","type":"comment","z":"fcb24b59.997048","name":"Get: Albums, Artists, Playlists, Tracks ","info":"","x":1191,"y":2089,"wires":[],"icon":"node-red/alert.svg"},{"id":"25b08358.52191c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.queue","state":"","stateType":"str","name":"","x":260,"y":1715,"wires":[["8a475eb8.0a9be"]]},{"id":"bc3cb8a7.b28128","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1715,"wires":[["25b08358.52191c"]]},{"id":"8a475eb8.0a9be","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":419,"y":1715,"wires":[]},{"id":"22771de6.cce9d2","type":"inject","z":"fcb24b59.997048","name":"Fritzzz","props":[{"p":"info","v":"Fritzzzz","vt":"str"},{"p":"artUri","v":"https://sanitaer-fritz.de/wp-content/uploads/2020/01/Fritz-GmbH-Logo.png","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":630,"y":1525,"wires":[["c95823b7.e6866"]]},{"id":"1eb0ccf2.6722c3","type":"inject","z":"fcb24b59.997048","name":"Arabella","props":[{"p":"info","v":"Arabella","vt":"str"},{"p":"artUri","v":"https://myonlineradio.at/public/uploads/radio_img/radio-arabella/play_250_250.png","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":640,"y":1571,"wires":[["fbad7dfb.f92f9"]]},{"id":"a2967163.13fab","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.playlist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":290,"y":2121,"wires":[[]]},{"id":"69b12446.e145cc","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.album","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":390,"y":2168,"wires":[[]]},{"id":"c5f6b75c.4a95f8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.track","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":280,"y":2215,"wires":[[]]},{"id":"6941e4.5eec2e1c","type":"inject","z":"fcb24b59.997048","name":"NAS: new mail","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"x-file-cifs://hkNas/MultiMedia/Music/MyMusic/AAAMyNotifications/mail.mp3","payloadType":"str","x":660,"y":1848,"wires":[["51d49a82.887694"]]},{"id":"b84326cf.dadde8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.play.tv","state":"","stateType":"str","name":"","x":1179,"y":1680,"wires":[[]]},{"id":"a6039ba1.57ae58","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1028,"y":1680,"wires":[["b84326cf.dadde8"]]},{"id":"87e83078.ef3a4","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Jürgens","payloadType":"str","x":90,"y":2263,"wires":[["99e5904e.e049b"]]},{"id":"99e5904e.e049b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.artist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":280,"y":2263,"wires":[[]]},{"id":"7b2e766d.32a288","type":"inject","z":"fcb24b59.997048","name":"insert_spotify_uri Playlist","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"spotify:user:spotify:playlist:37i9dQZF1DX1htCFhfVtyK","payloadType":"str","x":1088,"y":1525,"wires":[["634d07c2.0a4e08"]]},{"id":"7332a858d1883cc5","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"clearQueue","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Genesis 1976-1982","payloadType":"str","x":650,"y":2263,"wires":[["b8912d993abf4084"]]},{"id":"b8912d993abf4084","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.album","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":870,"y":2263,"wires":[["5d42896f0b29dc47"]]},{"id":"3822628715b00f46","type":"comment","z":"fcb24b59.997048","name":"Queue: album, playlist, track","info":"","x":679,"y":2089,"wires":[],"icon":"node-red/alert.svg"},{"id":"bb6962f573ea3636","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ML10CC","payloadType":"str","x":620,"y":2121,"wires":[["1833533ba2df0295"]]},{"id":"54db8f5dca973413","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"clearQueue","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Jürgens","payloadType":"str","x":610,"y":2214,"wires":[["cc71747a2d223dd7"]]},{"id":"cc71747a2d223dd7","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.artist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":810,"y":2214,"wires":[["5d42896f0b29dc47"]]},{"id":"01bd529b21d560ac","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Diamonds","payloadType":"str","x":620,"y":2167,"wires":[["893be233b0f7459b"]]},{"id":"893be233b0f7459b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.track","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":810,"y":2167,"wires":[["5d42896f0b29dc47"]]},{"id":"1833533ba2df0295","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.queue.library.playlist","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":820,"y":2121,"wires":[["5d42896f0b29dc47"]]},{"id":"5610f4615976bd66","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"searchTitle","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":1102,"y":2259,"wires":[["e8b76ae6bac4e407"]]},{"id":"e8b76ae6bac4e407","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.artists","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1283,"y":2274,"wires":[["b7c6d8cb.6b8888"]]},{"id":"523139226685972e","type":"inject","z":"fcb24b59.997048","name":"Beatles","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Beatles","payloadType":"str","x":1102,"y":2291,"wires":[["e8b76ae6bac4e407"]]},{"id":"f908810263a369d4","type":"inject","z":"fcb24b59.997048","name":"all","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1102,"y":2326,"wires":[["94c42ccd80571c42"]]},{"id":"424af95f857381f0","type":"inject","z":"fcb24b59.997048","name":"Angi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Angie","payloadType":"str","x":1102,"y":2359,"wires":[["94c42ccd80571c42"]]},{"id":"94c42ccd80571c42","type":"sonos-manage-mysonos","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"library.get.tracks","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1283,"y":2343,"wires":[["b7c6d8cb.6b8888"]]},{"id":"b9da195229ebf161","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":1954,"wires":[]},{"id":"5d42896f0b29dc47","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":2340,"wires":[]},{"id":"826347186274c7f3","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":1519,"wires":[]},{"id":"ab44d358ba71b52d","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.queue.length","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":290,"y":1763,"wires":[["8a475eb8.0a9be"]]},{"id":"7bba4f7c8781f4d5","type":"inject","z":"fcb24b59.997048","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":1763,"wires":[["ab44d358ba71b52d"]]},{"id":"63392252dc559827","type":"inject","z":"fcb24b59.997048","name":"Diamond Live","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"x-rincon-playlist:RINCON_000E58FE3AEA01400#A:ALBUM/Diamond%20Life","payloadType":"str","x":108,"y":2311,"wires":[["ce88797f8f3b03d1"]]},{"id":"ce88797f8f3b03d1","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.library.album","state":"Diamond Life","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":314,"y":2311,"wires":[[]]},{"id":"32a98882.56e1c8","type":"sonos-config","name":"bath_dns","serialnum":"","ipaddress":"sonosplay3.fritz.box"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"your_player_dns","serialnum":"","ipaddress":"sonosplay5.fritz.box"},{"id":"8d44022c.adb65","type":"sonos-config","name":"your_tvplayer_dns","serialnum":"","ipaddress":"sonosbeam.fritz.box"}]