examples/universal-general.json
[{"id":"70279836.3eb8e8","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":688,"wires":[["666dfda6.c1f144"]]},{"id":"923a2bc5.e495c8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":752,"wires":[["7e6b8e4d.c843"]]},{"id":"b80b26b4.75bda8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":404,"wires":[["3ea508db.576908"]]},{"id":"50a16ef5.d04bf","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"off","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":720,"wires":[["666dfda6.c1f144"]]},{"id":"6ebdc30c.c1404c","type":"comment","z":"fcb24b59.997048","name":"UNIVERSAL NODE - GENERAL","info":"","x":135,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"18c1f89e.008f67","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":175,"wires":[["e7d53079.e19e"]]},{"id":"a335ebab.d262c8","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":623,"wires":[["8baacb27.cdbed8"]]},{"id":"314e559a.0ce07a","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":655,"wires":[["8baacb27.cdbed8"]]},{"id":"ad43267e.c45fc8","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-3","payloadType":"str","x":90,"y":513,"wires":[["509b2f4b.63869"]]},{"id":"477c2db7.9aa4c4","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":90,"y":481,"wires":[["509b2f4b.63869"]]},{"id":"89672385.e2d9","type":"comment","z":"fcb24b59.997048","name":"Group related - basics","info":"","x":140,"y":55,"wires":[],"icon":"node-red/alert.svg"},{"id":"91e1b828.c5c388","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":195,"wires":[["1a42c12.153eb3f"]]},{"id":"6733e100.03ba8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":149,"wires":[["7b6a2369.645f6c"]]},{"id":"25318462.224c5c","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":497,"y":387,"wires":[["27eb4b72.fdc4a4"]]},{"id":"3d536d61.0c68f2","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":497,"y":419,"wires":[["27eb4b72.fdc4a4"]]},{"id":"462c6e05.805a6","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":497,"y":195,"wires":[["693a30c2.de8ec"]]},{"id":"d8a8e889.e4baa8","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":497,"y":99,"wires":[["abda8f3.860287"]]},{"id":"614ddfd1.0284c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"household.create.stereopair","state":"Bad","stateType":"str","name":"","x":1252,"y":195,"wires":[[]]},{"id":"987af870.066e38","type":"change","z":"fcb24b59.997048","name":"volume / Bad","rules":[{"t":"set","p":"playerName","pt":"msg","to":"Bad","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":90,"wires":[["95c16934.817688"]]},{"id":"d80b793a.c84c38","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":497,"y":131,"wires":[["5f863684.7d8368"]]},{"id":"3300a3fb.3dc80c","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":497,"y":163,"wires":[["5f863684.7d8368"]]},{"id":"823ded25.31aeb","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-3","payloadType":"num","x":497,"y":53,"wires":[["9c2f29d0.60a0d8"]]},{"id":"fee971ca.32135","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":497,"y":227,"wires":[["693a30c2.de8ec"]]},{"id":"6d12f6b4.b6d208","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":497,"y":458,"wires":[["266fc7a4.7e1978"]]},{"id":"8f40cb14.2d3598","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":497,"y":490,"wires":[["266fc7a4.7e1978"]]},{"id":"70a0b726.755658","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":497,"y":522,"wires":[["4b92105.09d26f"]]},{"id":"72f8a31a.be48dc","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":497,"y":554,"wires":[["4b92105.09d26f"]]},{"id":"fc2e99fc.f0eb48","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":498,"y":586,"wires":[["97862156.f61cc"]]},{"id":"8caeee05.64787","type":"comment","z":"fcb24b59.997048","name":"Player related","info":"","x":517,"y":21,"wires":[],"icon":"node-red/alert.svg"},{"id":"1a42c12.153eb3f","type":"change","z":"fcb24b59.997048","name":"right player","rules":[{"t":"set","p":"playerNameRight","pt":"msg","to":"A E.r_k-er:1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1041,"y":195,"wires":[["614ddfd1.0284c"]]},{"id":"27eb4b72.fdc4a4","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.led","state":"","stateType":"str","name":"","x":644,"y":407,"wires":[[]]},{"id":"b286426e.4cca7","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":865,"wires":[["1b2f151d.697e1b"]]},{"id":"1b2f151d.697e1b","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.create.snap","state":"","stateType":"str","name":"","x":984,"y":906,"wires":[["2eb1b70f.02b798"]]},{"id":"2eb1b70f.02b798","type":"change","z":"fcb24b59.997048","name":"save snap","rules":[{"t":"set","p":"snapbackup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":982,"y":949,"wires":[["fcc85992.b0fa28"]]},{"id":"fcc85992.b0fa28","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.tunein","state":"s24896","stateType":"str","name":"","x":1022,"y":989,"wires":[["9dbffe9f.ef32"]]},{"id":"9dbffe9f.ef32","type":"delay","z":"fcb24b59.997048","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1179,"y":869,"wires":[["52e9d467.e99e0c"]]},{"id":"52e9d467.e99e0c","type":"change","z":"fcb24b59.997048","name":"restore snap","rules":[{"t":"set","p":"payload","pt":"msg","to":"snapbackup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1215,"y":909,"wires":[["b40b9cf7.0797c"]]},{"id":"b40b9cf7.0797c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play.snap","state":"","stateType":"str","name":"","x":1245,"y":949,"wires":[[]]},{"id":"d416816a.6f37","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":892,"wires":[["9b2d5e17.80ad3","ffca6c4c.bdfd2","10e906e9.0b24e9","a273d49a.ff1f78","3620fb0a.3ebf34","42b9bd7b.ced104","d8136e98.a802e","f1fcb1b6.c13be","69e3d928.110f08"]]},{"id":"9b2d5e17.80ad3","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.state","state":"","stateType":"str","name":"","x":264,"y":940,"wires":[["3297fb94.ce7334"]]},{"id":"ffca6c4c.bdfd2","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.volume","state":"","stateType":"str","name":"","x":274,"y":986,"wires":[["3297fb94.ce7334"]]},{"id":"10e906e9.0b24e9","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.mutestate","state":"","stateType":"str","name":"","x":282,"y":1032,"wires":[["3297fb94.ce7334"]]},{"id":"a273d49a.ff1f78","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.crossfade","state":"","stateType":"str","name":"","x":282,"y":1168,"wires":[["3297fb94.ce7334"]]},{"id":"3620fb0a.3ebf34","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.sleeptimer","state":"","stateType":"str","name":"","x":282,"y":1214,"wires":[["3297fb94.ce7334"]]},{"id":"d8136e98.a802e","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.trackplus","state":"","stateType":"str","name":"","x":273,"y":1078,"wires":[["3297fb94.ce7334"]]},{"id":"3297fb94.ce7334","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":473,"y":1253,"wires":[]},{"id":"42b9bd7b.ced104","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.playbackstate","state":"","stateType":"str","name":"","x":294,"y":894,"wires":[["3297fb94.ce7334"]]},{"id":"ba41c940.360cf8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.mutestate","state":"","stateType":"str","name":"","x":693,"y":770,"wires":[["d0c8fe54.43fc6"]]},{"id":"d0d46ea0.bbf6f","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.properties","state":"","stateType":"str","name":"","x":695,"y":862,"wires":[["d0c8fe54.43fc6"]]},{"id":"a993e586.635ad8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.led","state":"","stateType":"str","name":"","x":664,"y":908,"wires":[["d0c8fe54.43fc6"]]},{"id":"79203201.55eb1c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.loudness","state":"","stateType":"str","name":"","x":684,"y":1001,"wires":[["d0c8fe54.43fc6"]]},{"id":"5eaa7b1c.d4df34","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.get.dialoglevel","name":"","x":694,"y":1184,"wires":[["d0c8fe54.43fc6"]]},{"id":"87506742.2d2aa8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.volume","state":"","stateType":"str","name":"","x":684,"y":724,"wires":[["d0c8fe54.43fc6"]]},{"id":"c94460d6.02c3b","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":507,"y":723,"wires":[["87506742.2d2aa8","ba41c940.360cf8","d0d46ea0.bbf6f","a993e586.635ad8","79203201.55eb1c","5eaa7b1c.d4df34","4cd20618.a65588","427c3521.73391c","9ef480af.e3003","60d2cb79.534e74","b9470db1.599dd","ef2edbd5.f068a8","cc6e2052.9626a"]]},{"id":"d0c8fe54.43fc6","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":923,"y":1281,"wires":[]},{"id":"4cd20618.a65588","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.get.nightmode","name":"","x":694,"y":1139,"wires":[["d0c8fe54.43fc6"]]},{"id":"9ef480af.e3003","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.role","state":"","stateType":"str","name":"","x":674,"y":816,"wires":[["d0c8fe54.43fc6"]]},{"id":"427c3521.73391c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.get.subgain","name":"","x":684,"y":1230,"wires":[["d0c8fe54.43fc6"]]},{"id":"60d2cb79.534e74","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.queue","state":"","stateType":"str","name":"","x":673,"y":954,"wires":[["d0c8fe54.43fc6"]]},{"id":"693a30c2.de8ec","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.loudness","state":"","stateType":"str","name":"","x":664,"y":211,"wires":[[]]},{"id":"266fc7a4.7e1978","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.set.nightmode","state":"","stateType":"str","name":"","x":675,"y":472,"wires":[[]]},{"id":"4b92105.09d26f","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.set.dialoglevel","state":"","stateType":"str","name":"","x":675,"y":536,"wires":[[]]},{"id":"97862156.f61cc","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.set.subgain","state":"","stateType":"str","name":"","x":665,"y":586,"wires":[[]]},{"id":"9c2f29d0.60a0d8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.adjust.volume","state":"","stateType":"str","name":"","x":675,"y":53,"wires":[[]]},{"id":"abda8f3.860287","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.volume","state":"","stateType":"str","name":"","x":665,"y":99,"wires":[[]]},{"id":"8bdc8068.a5371","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.previous.track","state":"","stateType":"str","name":"","x":284,"y":359,"wires":[[]]},{"id":"3ea508db.576908","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.seek","state":"00:01:00","stateType":"str","name":"","x":254,"y":404,"wires":[[]]},{"id":"666dfda6.c1f144","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.set.crossfade","state":"","stateType":"str","name":"","x":274,"y":704,"wires":[[]]},{"id":"7e6b8e4d.c843","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.set.sleeptimer","state":"00:05:00","stateType":"str","name":"","x":284,"y":752,"wires":[["3297fb94.ce7334"]]},{"id":"8baacb27.cdbed8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.set.mutestate","state":"","stateType":"str","name":"","x":284,"y":638,"wires":[[]]},{"id":"509b2f4b.63869","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.adjust.volume","state":"","stateType":"str","name":"","x":284,"y":495,"wires":[[]]},{"id":"e7d53079.e19e","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.toggle.playback","state":"","stateType":"str","name":"","x":284,"y":175,"wires":[[]]},{"id":"96cb4dcf.974e7","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.pause","state":"","stateType":"str","name":"","x":254,"y":267,"wires":[[]]},{"id":"9cf34a60.a8b8d8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.stop","state":"","stateType":"str","name":"","x":254,"y":221,"wires":[[]]},{"id":"8350bd8b.7746","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":267,"wires":[["96cb4dcf.974e7"]]},{"id":"ba8dad2f.b3a4d","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":221,"wires":[["9cf34a60.a8b8d8"]]},{"id":"599f2db5.ba5834","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":359,"wires":[["8bdc8068.a5371"]]},{"id":"1d22ec4d.13eeb4","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.next.track","state":"","stateType":"str","name":"","x":264,"y":313,"wires":[[]]},{"id":"7c0bf831.2ca458","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":313,"wires":[["1d22ec4d.13eeb4"]]},{"id":"95c16934.817688","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.play","state":"","stateType":"str","name":"","x":290,"y":129,"wires":[[]]},{"id":"3b863ed1.345942","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":129,"wires":[["95c16934.817688"]]},{"id":"ca5fe2dd.6d6d","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":101,"y":89,"wires":[["987af870.066e38"]]},{"id":"7b6a2369.645f6c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.separate.stereopair","state":"Bad","stateType":"str","name":"","x":1100,"y":149,"wires":[[]]},{"id":"5f863684.7d8368","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.mutestate","state":"","stateType":"str","name":"","x":675,"y":148,"wires":[[]]},{"id":"82b922ef.0e6be","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":497,"y":259,"wires":[["c72ce96a.fc3a88"]]},{"id":"c72ce96a.fc3a88","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.treble","state":"","stateType":"str","name":"","x":655,"y":278,"wires":[[]]},{"id":"208ec037.4ba33","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-5","payloadType":"num","x":497,"y":291,"wires":[["c72ce96a.fc3a88"]]},{"id":"724d2bfd.3355a4","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":497,"y":323,"wires":[["dff85d3a.5fb24"]]},{"id":"dff85d3a.5fb24","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.bass","state":"","stateType":"str","name":"","x":655,"y":338,"wires":[[]]},{"id":"85b254c.d3af9a8","type":"inject","z":"fcb24b59.997048","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-5","payloadType":"num","x":497,"y":355,"wires":[["dff85d3a.5fb24"]]},{"id":"ef2edbd5.f068a8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.treble","state":"","stateType":"str","name":"","x":674,"y":1093,"wires":[["d0c8fe54.43fc6"]]},{"id":"b9470db1.599dd","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.bass","state":"","stateType":"str","name":"","x":674,"y":1047,"wires":[["d0c8fe54.43fc6"]]},{"id":"62bf777c.429c78","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":449,"wires":[["1fb29405.61b5bc"]]},{"id":"1fb29405.61b5bc","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.seek.delta","state":"-00:00:20","stateType":"str","name":"","x":264,"y":449,"wires":[[]]},{"id":"f1fcb1b6.c13be","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.actions","state":"","stateType":"str","name":"","x":272,"y":1123,"wires":[["3297fb94.ce7334"]]},{"id":"b90668f8.1e6a68","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":58,"wires":[["c4f31b0e.4a2fe8"]]},{"id":"c4f31b0e.4a2fe8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.create.group","state":"Küche,Bad,Wohnzimmer","stateType":"str","name":"","x":1080,"y":58,"wires":[[]]},{"id":"4eb2d2c2.edf73c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":103,"wires":[["cd9ec0d1.19f8f"]]},{"id":"cd9ec0d1.19f8f","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.separate.group","state":"","stateType":"str","name":"","x":1080,"y":103,"wires":[[]]},{"id":"27c2d763.c03ef8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":240,"wires":[["7b81e28b.c2d75c"]]},{"id":"7b81e28b.c2d75c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.get.sonosplaylists","state":"","stateType":"str","name":"","x":1090,"y":240,"wires":[["8fa79091.fcdda"]]},{"id":"353605ca.4425aa","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.remove.sonosplaylist","state":"Backup","stateType":"str","name":"","x":1100,"y":286,"wires":[["8fa79091.fcdda"]]},{"id":"11360840.a3e1b8","type":"inject","z":"fcb24b59.997048","name":"ignoreExist","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"ignoreNotExists","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":286,"wires":[["353605ca.4425aa"]]},{"id":"7cd310b6.01ae6","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":849,"wires":[["766a9fa6.62c12"]]},{"id":"766a9fa6.62c12","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.cancel.sleeptimer","state":"","stateType":"str","name":"","x":294,"y":849,"wires":[["3297fb94.ce7334"]]},{"id":"906778df.f18a28","type":"comment","z":"fcb24b59.997048","name":"Household related","info":"","x":921,"y":23,"wires":[],"icon":"node-red/alert.svg"},{"id":"84eded51.ad05","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":90,"y":545,"wires":[["1bbfbc4b.adfab4"]]},{"id":"1bbfbc4b.adfab4","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.set.volume","state":"","stateType":"str","name":"","x":274,"y":545,"wires":[[]]},{"id":"50235fbc.db79a","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":591,"wires":[["d0cbb3d4.6153d"]]},{"id":"d0cbb3d4.6153d","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.create.volumesnap","state":"","stateType":"str","name":"","x":294,"y":591,"wires":[[]]},{"id":"8fa79091.fcdda","type":"debug","z":"fcb24b59.997048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1293,"y":378,"wires":[]},{"id":"29d24785.fb10a8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.test.player","state":"Bad","stateType":"str","name":"","x":1070,"y":378,"wires":[["8fa79091.fcdda"]]},{"id":"f7085639.151b48","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":378,"wires":[["29d24785.fb10a8"]]},{"id":"baa7d28e.b0381","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"household.get.groups","state":"","stateType":"str","name":"","x":1070,"y":332,"wires":[["8fa79091.fcdda"]]},{"id":"354b1253.e7a81e","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":332,"wires":[["baa7d28e.b0381"]]},{"id":"8cb5f661.cd7428","type":"comment","z":"fcb24b59.997048","name":"Snap Usage ","info":"","x":950,"y":825,"wires":[],"icon":"node-red/alert.svg"},{"id":"8e0a1bc7.3428a8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"coordinator.delegate","state":"","stateType":"str","name":"","x":1100,"y":427,"wires":[[]]},{"id":"9dd799bc.76f528","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Wohnzimmer","payloadType":"str","x":901,"y":427,"wires":[["8e0a1bc7.3428a8"]]},{"id":"1fa7da45.fdd906","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"coordinator.delegate","state":"","stateType":"str","name":"","x":1100,"y":472,"wires":[[]]},{"id":"8b7d5c38.a55c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Küche","payloadType":"str","x":881,"y":472,"wires":[["1fa7da45.fdd906"]]},{"id":"4efd5157.562b3","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":881,"y":517,"wires":[["6593f51c.c1d79c"]]},{"id":"6593f51c.c1d79c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.become.standalone","state":"","stateType":"str","name":"","x":1110,"y":517,"wires":[[]]},{"id":"a2104d3c.365fd","type":"inject","z":"fcb24b59.997048","name":"volume 30 ","props":[{"p":"payload"},{"p":"volume","v":"30","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":507,"y":632,"wires":[["cf5548a.4fd28b8"]]},{"id":"cf5548a.4fd28b8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"8d44022c.adb65","command":"player.play.tv","state":"","stateType":"str","name":"","x":660,"y":632,"wires":[[]]},{"id":"d5dbc02c.c6fde","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.leave.group","state":"","stateType":"str","name":"","x":1091,"y":563,"wires":[[]]},{"id":"c7771c85.cf2f8","type":"inject","z":"fcb24b59.997048","name":"Group Küche","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Küche","payloadType":"str","x":901,"y":563,"wires":[["d5dbc02c.c6fde"]]},{"id":"425ae72a.016518","type":"inject","z":"fcb24b59.997048","name":"Group Küche","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Küche","payloadType":"str","x":901,"y":609,"wires":[["f39d4d98.56e3c"]]},{"id":"f39d4d98.56e3c","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.join.group","state":"","stateType":"str","name":"","x":1080,"y":609,"wires":[[]]},{"id":"69e3d928.110f08","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"group.get.members","state":"","stateType":"str","name":"","x":271,"y":1252,"wires":[["3297fb94.ce7334"]]},{"id":"bcf842aa.200af","type":"inject","z":"fcb24b59.997048","name":"volume 30","props":[{"p":"payload"},{"p":"volume","v":"30","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":508,"y":678,"wires":[["6c2ee9b2.023de8"]]},{"id":"6c2ee9b2.023de8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"88e9fa70.4a53e8","command":"player.play.linein","state":"","stateType":"str","name":"","x":671,"y":678,"wires":[[]]},{"id":"cc6e2052.9626a","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.get.buttonlockstate","state":"","stateType":"str","name":"","x":704,"y":1275,"wires":[["d0c8fe54.43fc6"]]},{"id":"63ca3c44.1e36f4","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"player.set.buttonlockstate","state":"","stateType":"str","name":"","x":293,"y":801,"wires":[[]]},{"id":"895a921c.f3c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"on","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":89,"y":785,"wires":[["63ca3c44.1e36f4"]]},{"id":"6449d6.e8c1762c","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload","v":"off","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":89,"y":817,"wires":[["63ca3c44.1e36f4"]]},{"id":"b3f3546.4b71aa8","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":891,"y":661,"wires":[["f467115a.584f8"]]},{"id":"f467115a.584f8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"household.get.alarms","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1086,"y":661,"wires":[["8fa79091.fcdda"]]},{"id":"decf02ab.84cda","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":881,"y":707,"wires":[["c2eab9bf.3583d8"]]},{"id":"c2eab9bf.3583d8","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"household.disable.alarm","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1077,"y":707,"wires":[[]]},{"id":"8472530b.fe5fa","type":"sonos-universal","z":"fcb24b59.997048","confignode":"32a98882.56e1c8","command":"household.enable.alarm","state":"","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":1084,"y":754,"wires":[[]]},{"id":"65edd.71d7f1238","type":"inject","z":"fcb24b59.997048","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":881,"y":754,"wires":[["8472530b.fe5fa"]]},{"id":"8d44022c.adb65","type":"sonos-config","name":"living","serialnum":"","ipaddress":"192.168.178.36"},{"id":"32a98882.56e1c8","type":"sonos-config","name":"bath","serialnum":"","ipaddress":"192.168.178.35"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"kitchen","serialnum":"","ipaddress":"192.168.178.37"}]